[2015-06-06 04:36] jacob-israel-turner opened #1 "'then' method on 'listenTo' options object should be invoked with proper context"
Currently, if you try to run `this.setState` in the `then` method on the configuration object for `listenTo`, it will throw an error.  When the `then` method, it should invoke it with the proper context.  IE, this:

[code]

could be invoked like this:

[code]

[2015-06-06 05:57] jacob-israel-turner opened #3 "Add options to syncState"
- 'state' option (rather than syncing to the endpoint value on state)

[2015-06-06 05:57] jacob-israel-turner opened #4 "DRY code"
- Break out 'add event listener' function.

[2015-06-06 20:04] jacob-israel-turner opened #5 "Prep for NPM"

[2015-06-06 20:04] jacob-israel-turner opened #6 "Add sorting"

[2015-06-06 20:05] jacob-israel-turner opened #7 "Write tests"

[2015-06-07 04:46] jacob-israel-turner opened #9 "syncState - Updating a single nested value wipes the rest of the keys in Firebase."
[code]

Calling `this.setState()` in this way causes the picture value to be overwritten in firebase.

[2015-06-07 05:11] #9 closed

[2015-06-08 15:29] tylermcginnis opened #11 "Don't update unmounted component error thrown on removal of classes"

[2015-06-15 05:51] tylermcginnis opened #12 "Since we're using .child, you can never modify the root directory of your firebase"

[2015-06-19 18:03] #5 closed

[2015-06-19 18:04] #1 closed

[2015-06-19 18:04] #7 closed

[2015-06-19 18:04] #6 closed

[2015-06-19 18:05] #3 closed

[2015-06-19 18:06] #4 closed

[2015-06-25 00:23] jacob-israel-turner opened #16 "When endpoint is empty, return empty object or array"
When an endpoint is empty, and when the `asArray` option is true, syncState returns an empty object.  It should return an empty array instead.

[2015-06-29 08:29] paulwehner opened #17 "Concurrency question"
Hi there,

If I want to use Firebase just as a datastore in some cases... so just pushing updates out to Firebase... but not maintaining a live connection since I don't need it and don't want to add to my concurrency count... is that possible with Re-Base.

So could I just do:

var Rebase = require('re-base');
var base = Rebase.createClass('https://myapp.firebaseio.com');
addUser(){
  base.post('u

[2015-07-01 07:14] tylermcginnis commented on #17
That's correct.

[2015-07-01 07:26] tylermcginnis commented on #17
Uh. Actually, maybe not. We're looking into this right now.

[2015-07-01 07:40] jacob-israel-turner commented on #17
Hey Paul!

After talking with Tyler, I wanted to test and make sure it didn't open a concurrent connection.  Turns out, when you call `new Firebase('url')` it opens a new connection, regardless of how (or even if) you use that ref.

**So, if you load the re-base library, anticipate it opening a concurrent connection, regardless of which methods you invoke.**

Here are some codepens to show our fin

[2015-07-01 07:40] #17 closed

[2015-07-01 07:42] jacob-israel-turner commented on #12
I think just putting `/` as the endpoint allows you to modify the root directory.  I don't know if you added this feature, or if it's default behaviour.  We'll need to do some testing to make sure it actually works as expected.

[2015-07-01 22:12] jacob-israel-turner commented on #16
@tylermcginnis We should fix this before 1.0.  I'll try and take a look at it after the examples.

[2015-07-04 06:13] #11 closed

[2015-07-04 06:14] tylermcginnis commented on #16
Fixed.

[2015-07-04 06:14] #16 closed

[2015-07-04 21:04] #12 closed

[2015-07-06 00:57] HighOnDrive opened #20 "GraphQL Integration"
First off, re-base is a library that has been a long time coming, fantastic to learn about it and thanks!

I posted a few comments on a Firebase issue about GraphQL support in the past few days. Are there any plans to extend re-base in such a direction? Here are my suggestions:

https://github.com/firebase/reactfire/issues/38

[2015-07-06 23:15] steida opened #21 "My approach"
I think component state is an anti-pattern, so in https://github.com/este/este I'm using simple higher order component `listenFirebase` and some helpers. It works well with Flux.

https://gist.github.com/steida/570d007c94a25fa68443
https://gist.github.com/steida/4838c8db9fc43d538bf5

[2015-07-08 09:03] tylermcginnis commented on #21
Sweet. I'll check it out.

[2015-07-08 09:59] steida commented on #21
I will release a demo app soon.

[2015-07-08 15:06] jacob-israel-turner opened #22 "Create a pre-publish script to remove examples and source file"
:boar:

[2015-07-08 15:18] jacob-israel-turner commented on #20
Hey!  Thanks for the issue.  Tyler and I recently moved to Europe, so things are a little hectic, but we are considering your question.  We'll get back to you with a better response in the next few days.  Thanks!

[2015-07-12 10:37] #21 closed

[2015-07-16 10:29] jacob-israel-turner opened #23 "Add Query Options"
Utilize Firebase's [Complex Queries](https://www.firebase.com/docs/web/guide/retrieving-data.html#section-complex-queries) features, most importantly pagination.

[2015-07-16 11:15] krembo opened #24 "Authorization"
It would be cool to add an authorization option too to this project,
like authWithPassword in Firebase.

[2015-07-16 14:33] tylermcginnis commented on #24
I agree. That as well as filtering/pagination is our next features we're going to try to work out.

[2015-07-17 10:45] jacob-israel-turner opened #25 "Return endpoint ID from .post()"

[2015-07-17 10:47] jacob-israel-turner opened #26 "Create .push"

[2015-07-25 00:37] steida opened #30 "React and Firebase integration with atomic immutable Flux"
Real stuff

https://github.com/este/este-firebase

[2015-07-25 09:24] tylermcginnis commented on #30
Looks cool. We'll check it out.

[2015-07-25 09:24] #30 closed

[2015-07-26 11:55] cassus commented on #20
GraphQL Integration would be awesome!

[2015-07-29 17:26] jacob-israel-turner opened #31 "Have option to maintain key:data structure in FB with bindings when using syncState as array"

[2015-07-30 16:19] HighOnDrive opened #32 "Usage with Cycle.js"
Hi, could re-base be used with cycle.js? The usual means to extend cycle.js is with drivers but then maybe re-base could just be used as an imported API. I've added some relevant info and sample drivers below:

http://cycle.js.org/drivers.html
https://github.com/cyclejs/cycle-http-driver
https://github.com/cgeorg/cycle-socket.io

[2015-07-30 16:47] tylermcginnis commented on #32
Sweet. We'll check it out. I've never used Cycle.js.

[2015-07-30 20:18] HighOnDrive commented on #32
Awesome! It looks like rebase.js would just need a few modifications to be a driver. Cycle.js is an API layer over Rx so everything is an Observable stream. So, a rebase version for Cycle.js would be the API to interact with Firebase PLUS it would allow queries to return streams and mutations to be made from Observers. That rocks hard!

[2015-08-06 19:42] jacob-israel-turner opened #34 "`post` options should accept context"

[2015-08-07 08:48] jacob-israel-turner opened #35 "Rethink API"
I think we should change the `then` property in our options object to either a callback parameter on its own or promisify the method itself.

It would also look cleaner to include the endpoint in the options object.

E.G.

[code]

[2015-08-07 09:45] tylermcginnis commented on #35
That's a rather breaking change. I'd have to redo egghead videos and everyone would have to upgrade. And the solution would be make it work with both which we'd then have to support for the foreseeable future.

[2015-08-07 09:55] jacob-israel-turner commented on #35
Yeah, this is definitely v2.0 material.

[2015-08-07 11:47] jacob-israel-turner commented on #35
This is definitely v2.0 material.  It's something we'd need to discuss quite a bit before releasing, along with some other changes like possible GraphQL integration, authentication, etc.

[2015-08-07 11:49] jacob-israel-turner commented on #32
The more I think about it, the more I like it.  Promises don't seem quite right for Firebase/Rebase, and the little I've played with observables, the more I think they fit this paradigm.

[2015-08-07 11:50] jacob-israel-turner commented on #23
This was added in 1.1 a while ago.

[2015-08-07 11:50] #23 closed

[2015-08-07 18:56] tylermcginnis opened #36 "syncState needs a .then when initial data is fetched (for loading purposes)"

[2015-08-07 19:35] HighOnDrive commented on #32
We are all having lots of fun learning to think in Rx streams vs. the usual imperative way. See and join discussion at https://gitter.im/cyclejs/cycle-core as Cycle.js continues to change minds and grow fast.

Cycle.js does require a Firebase Driver and making the inputs and output streams also opens up a whole new usage solution for Firebase.

[2015-08-09 22:08] reintroducing opened #37 "post needs a unique ID?"
Hello,
I tried to do a post to my firebase and it wiped out all of the data I had in there (not much but it was unexpected).  I was just doing something like this:

[code]

I was expecting, because I didn't pass an ID, that the tool would be added with a unique ID rather than wipe everything out and replace it.  Do I have to pass a unique ID I create myself to the endpoint? Why can it not create a

[2015-08-09 22:48] tylermcginnis commented on #37
Sorry for the confusion. .post will, as you found out, replace everything at the specified endpoint. We're planning on adding a .push method (see here https://github.com/tylermcginnis/re-base/issues/26) which is more along the lines of what you were expecting. You're also correct about the unique id. If you want to update a unique endpoint, you'll need to create it. Something like,
[code]

Hope th

[2015-08-09 22:52] reintroducing commented on #37
Got it, thanks. I ended up using the npm module "shortid" which works great for this purpose. Appreciate the quick reply @tylermcginnis.

As a side note really enjoyed your React course on egghead.io. Its what got me into this mode of creating this play app this weekend :)

[2015-08-09 22:52] #37 closed

[2015-08-09 22:57] tylermcginnis commented on #37
You're very welcome. Glad you enjoyed the course. Feel free to reach out if you come across any other issues.

[2015-08-13 10:35] tylermcginnis opened #38 "Some Firebase queries don't work properly (orderByChild)"

[2015-08-13 12:29] jacob-israel-turner commented on #38
What's not working properly?  The ordering that you were talking about earlier?

[2015-08-13 13:02] tylermcginnis commented on #38
Yeah. See here. http://stackoverflow.com/questions/31966672/orderbychild-sorting-keys-lexicographically-rather-than-by-specified-key

[2015-08-17 19:31] wesbos commented on #36
+1 I could use this!

[2015-08-25 09:00] rstormsf commented on #26
[code]
OR use options object and add additional if/else

Am I right?

[2015-08-25 14:26] mdoerneman commented on #36
+1

[2015-08-26 18:10] jacob-israel-turner commented on #26
It looks mostly good.  We would definitely want to return the ref.  Often times it's hand to synchronously get the ref so that you can have the new key from Firebase.  @tylermcginnis, do you have anything else to add?

@rstormsf Would you be interested in making a PR?

[2015-08-27 08:56] rstormsf commented on #26
I ended up using just plain Firebase object since I need auth and stuff, still learning and trying to understand how re-base is better than just firebase module.

[2015-08-27 15:45] jacob-israel-turner opened #39 "Add error callback"
`ref.on` takes a second, `onFailure` callback.  It should be integrated into rebase.

[2015-08-27 16:45] tylermcginnis commented on #39
It was at one point. I took it out for some reason. But yeah, it should be in there.

[2015-08-28 04:16] fdidron commented on #24
@tylermcginnis Is it just a matter of exposing Firebase's authWithPassword method or do you have another implementation in mind ? (We could also expose the auth events).

I can have a look at it and submit a PR.

Kind regards,

[2015-08-28 13:57] tylermcginnis commented on #24
@fdidron Yup that would be it. Shouldn't be too difficult to throw in. Would love a PR.

[2015-08-28 16:39] mdoerneman opened #40 "can't call syncState on two different objects"
I wanted to sync state on two different objects like:
[code]
But this doesn't work. "team" is not being synced but players are. It's like it's being overwritten.

[2015-09-01 21:55] mosse commented on #40
Looks like you're overwriting `this.ref`. Try using something like `this.team` and `this.players` instead.

[2015-09-01 23:32] mdoerneman commented on #40
I know it looks that way in the example but I tried that also and it didn't
solve the problem.

On Tue, Sep 1, 2015 at 4:55 PM, Mark Macdonald <notifications@github.com>
wrote:

[2015-09-02 08:41] tylermcginnis commented on #40
I'll take a look at this this weekend. Thanks for the heads up!

[2015-09-07 08:00] fdidron commented on #24
@tylermcginnis Submitted a PR for auth . For the pagination and filtering I'm extremely interested too. Shall we create a separate issue to talk implementation ?

Kind regards

[2015-09-07 09:49] tylermcginnis commented on #24
Awesome thanks! We'll take a look at it when we get a second. And yeah throw your comments about pagination/filtering in that issue.

[2015-09-07 09:54] fdidron commented on #24
Ok will do. One quick question, can you activate auth on the https://rebase-demo.firebaseio.com/ and maybe create a test user so I can write some tests ?

[2015-09-07 09:58] fdidron opened #42 "Add Filtering / Pagination to re-base"
Opening the discussion here on how to implement pagination / filtering.

[2015-09-07 09:58] tylermcginnis commented on #24
I can do better and add you to the account. What's your email you use for Firebase?

[2015-09-07 10:02] fdidron commented on #24
Sent you a mail :)

[2015-09-11 23:05] jcgertig commented on #40
@tylermcginnis  any headway?

[2015-09-13 20:08] tylermcginnis commented on #40
@jcgertig Sorry none yet.

[2015-10-13 23:20] bellicose100xp commented on #24
+1 for Authorization

[2015-10-16 10:15] dannytce commented on #36
+1

[2015-10-16 12:57] wesbos commented on #36
@tylermcginnis Still planning on this?

[2015-10-16 17:49] tylermcginnis commented on #36
@wesbos Yeah. Sorry man been super busy (as you can relate). I'll get to it this weekend (pinky promise).

[2015-10-16 19:13] wesbos commented on #36
:kissing: Totally understand - you are amazing!

[2015-10-17 23:41] #24 closed

[2015-10-18 02:16] tylermcginnis commented on #36
Fixed in 1.2.1. :tada:

[2015-10-18 02:16] #36 closed

[2015-10-21 17:55] mtheoryx opened #44 "Dynamic state based on firebase value"
I've got a value of a "current" thing in firebase. That can, and does change.

Now, I've got a list of all possible things.

What I cannot get my head around is how do I set up a dynamic query of the things based on the "current" things id??

Here's my `componentWillMount`, everything works great, except the "question" one. It looks like `this.state.activeQuestion` is just null. If I put a static

[2015-10-23 21:13] yeso126 opened #45 "Add support for react-native"
I'm testing it on android and I get the following message: no transports available

[2015-10-23 21:16] tylermcginnis commented on #45
Which version if React Native are you using? This probably isn't a Re-base thing it's most likely the version of React Native android you're using doesn't support Websockets yet.

[2015-10-23 21:17] jacob-israel-turner commented on #45
I know there were some major problems with websockets on Android initiall.  @yeso126 try upgrading to React Native v0.13.0, they appear to have been fixed in that release.

[2015-10-23 21:17] yeso126 commented on #45
Hi, I'm on 0.13.0

[2015-10-23 21:25] jacob-israel-turner commented on #45
Interesting.  Have you tried using just plain Firebase in your project?  I wouldn't be surprised if their SDK isn't supported on Android React Native yet.

[2015-10-23 21:26] yeso126 commented on #45
That's what Im doing right now

[2015-10-23 21:29] yeso126 commented on #45
That was the problem, I think I'll post the issue on Firebase's repo, as Android react native now supports websockets this can be fixed

[2015-10-23 21:30] jacob-israel-turner commented on #45
Cool!  Thanks @yeso126.

[2015-10-23 21:41] #45 closed

[2015-10-24 19:53] #38 closed

[2015-10-30 14:37] otherland opened #46 "syncState then() infinite loop"
I'm having an issue with using the callback supplied to `syncState`. In componentDidMount I need to call a component method which modifies the state of `nodes`. As seen in this simplified example, I need the nodes from firebase before calling this method, so I call `this.addNode` in the syncState callback.

However, this is causing an infinite loop. It seems that the syncState callback is being ca

[2015-10-30 16:59] tylermcginnis commented on #46
Ah good find. I'll take a look.

[2015-10-30 20:18] thomasyates commented on #46
@tylermcginnis Cheers!

[2015-11-07 09:10] nelix commented on #35
I have an idea for a an api that does not use state (because I think  it would be pretty easy to setState and mutate them by mistake).

[code]

[2015-11-07 16:25] akullpp opened #48 "Listen to URL params"
Hi,

is it possible to listen to the change in URL params like

(a) `http://localhost:3000/build/index.html#/profile/bill`

(b) `http://localhost:3000/build/index.html#/profile/john`

and re-fetch the data? Something like:

[code]

[2015-11-07 16:31] akullpp commented on #48
I've seen that you listed this in the examples. Thanks!

[2015-11-07 16:31] #48 closed

[2015-11-07 18:37] tylermcginnis commented on #48
:+1:

[2015-11-11 12:44] thomasyates commented on #46
@tylermcginnis Any news on this?

[2015-11-20 17:12] tylermcginnis commented on #35
@nelix Sorry to be so slow to respond. I'm planning on looking deeper into your suggestion soon.

[2015-11-25 21:34] nextriot opened #49 "Accessing localStorage from within syncState callback"
Hi guys. Great library.

I'm trying to do the following:

[code]

At `POINT A` which is called before the callback, the item stored at that key in localStorage is recognised, yet at `POINT B` it is not accessible, though localStorageRefA and the object returned from localStorage at that point, is.

Possibly a fundamental misunderstanding on my part. Any help / advice is very much appreciated.
Than

[2015-11-25 22:06] tylermcginnis commented on #49
Hmmm. The code looks right. I think the syncState then method is having some issues (https://github.com/tylermcginnis/re-base/issues/46). I'll take a look when I get a second.

[2015-11-25 22:53] jacob-israel-turner commented on #49
I wonder if the context is screwing this up.

[2015-11-25 23:01] tylermcginnis commented on #49
Yeah I wondered that too but then my brain went "You're not stupid. You wouldn't forget to bind the context" so I glossed over it :smile: I haven't verified if that's true or not.

[2015-11-25 23:02] tylermcginnis commented on #49
and the example uses `this` in then.

[2015-11-27 03:30] steida opened #52 "Offline"
I am curious how this two way binding is supposed to work with offline app state. I think what we need is sync with Redux support. Having magic state black box is step back I suppose.

[2015-11-27 07:35] tylermcginnis commented on #52
Redux support would be awesome. I'll brainstorm and see if I can come up with anything.

[2015-11-27 07:35] tylermcginnis commented on #52
Redux support would be awesome. I'll brainstorm and see if I can come up with anything.

[2015-12-02 08:53] pdewouters commented on #52
@tylermcginnis thanks for making this library. Are you saying re-base won't work with Redux at the moment?

[2015-12-02 09:01] tylermcginnis commented on #52
It works just fine. You'll just have to role it out yourself. There's no cool way to magically sync with Redux right now. You can still do
[code]

or something similar.

[2015-12-02 09:02] pdewouters commented on #52
ok, awesome, thanks for the quick reply :)

[2015-12-02 19:39] pdewouters commented on #52
so that would fetch data from firebase, and for saving state to firebase, would I use the `post` method?

[2015-12-02 21:10] pdewouters commented on #52
nevermind, I think I got it. On adding an item, I dispatch an action then I do a `post`

[2015-12-02 21:14] tylermcginnis commented on #52
Exactly. :+1:

[2015-12-03 04:57] dbkaplun opened #58 "Feature request: authAnonymously"
More info:

* https://www.firebase.com/docs/web/api/firebase/authanonymously.html
* https://www.firebase.com/docs/web/guide/user-auth.html#section-login

[2015-12-03 05:01] tylermcginnis commented on #58
:+1:

[2015-12-03 06:57] dbkaplun opened #59 "Add way to append to a list rather than replacing a value entirely"
Is there a way to append to a list rather than replacing a value? Arguably, if we're following HTTP verb naming conventions:

* the `post` method which replaces a value should be called `put`
* there should be a new `post` method to append to a list

See also: https://www.firebase.com/docs/web/api/firebase/push.html

[2015-12-03 07:07] dbkaplun commented on #59
Maybe a nicer solution would be an `asArray` option in the `options` object for `post`

[2015-12-10 10:44] newtriks commented on #40
Interesting, I am finding the same issue. As soon as I add a second ref then all syncing to firebase simply stops, no errors or warnings. Will have a nose through the `src` here and see if anything jumps out...

[2015-12-10 10:51] tylermcginnis commented on #40
@newtriks Thanks man! It might be a bit messy so feel free to clean it up a bit. I've been meaning to get to it but life is busy.

[2015-12-10 10:57] newtriks commented on #40
@tylermcginnis I fully understand and am snowed myself so can't promise anything. The lib looks really nice man, good work.

[2015-12-10 20:50] tylermcginnis commented on #40
@newtriks No worries. That was definitely an invitation and not an obligation. Thanks for the kind words!

[2015-12-20 23:01] jamiemchale commented on #26
I created a basic PR on this (#64) for discussion and improvement. It'd be good to see this feature added.

[2015-12-22 15:40] steve0hh opened #65 "Any good way to validate form using re-base?"
Hi there,

Would like to check with you if there are any good patterns to do form validation with this library?
I know that we can set some constraints on firebase but how do we actually do the validation..

I've seen [this](http://stackoverflow.com/questions/24019431/how-to-properly-validate-input-values-with-react-js) but we do not actually have a model to deal with.. :sob:

Sorry to be asking a

[2015-12-22 15:55] jacob-israel-turner commented on #65
This library isn't really for form validation, though it should work with form validation libraries like [formsy](https://github.com/christianalfoni/formsy-react), or your own custom form validation.

You should definitely write some [validation rules](https://www.firebase.com/docs/security/api/rule/validate.html) for your Firebase on top of form validation.  Take some time and read/experiment wit

[2015-12-22 16:22] steve0hh commented on #65
Thank you for your time in replying.

Yes. I understand that. What i meant was if i were to call:

[code]
and I've validations rules in Firebase already. Are there any errors that comes back from server when i add a new invalid item? Or do I have to implement both on the firebase and client side?

[2015-12-22 17:19] jacob-israel-turner commented on #65
Oh, I see what you mean!

Firebase will return an error if the validation fails, asynchronously.  However, re-base doesn't currently expose the error callback.

[2015-12-22 17:22] jacob-israel-turner opened #66 "Expose 'error' callback"
Opened as a result of #65.

I just glanced over the code and it turns out we aren't exposing the error callback, at least for `syncState`.  It looks like when using `post`, you can watch for an `error` argument in the `.then` callback.  But we should implement across-the-board error callbacks.

[2015-12-22 17:23] jacob-israel-turner commented on #65
I just opened #66.  Once that is fixed, you can just watch the error callback to see if validation failed.

[2015-12-22 17:23] #65 closed

[2015-12-23 00:36] steve0hh commented on #65
Ahh.. ok.. thanks so much. :smile:

[2015-12-23 01:02] alexklibisz opened #67 "Underscore in ref name doesn't show any results for syncState"
Is there any reason that having an underscore character in the ref name / path name would interfere with the ```syncState``` function?

In my case, this yields an empty array:
[code]
However, moving the contents of ```room_messages``` to ```room-messages``` and changing to ``` base.syncState(`room-messages/${roomId}`, ...) ``` returns the correct messages.

Not a huge deal b/c we can use hyphens o

[2015-12-23 01:53] tylermcginnis commented on #67
Hmmmm weird. I'll take a look. Thanks for bringing this to our attention!

[2015-12-23 02:10] alexklibisz commented on #67
Part of my initial message wasn't showing up due to markdown formatting. Fixed it now. Thanks!

[2015-12-23 02:31] jacob-israel-turner commented on #67
I would guess it's a firebase naming issue. They reject certain characters.
I'll take a look at that.

On Tue, Dec 22, 2015, 19:10 Alex Klibisz <notifications@github.com> wrote:

[2015-12-23 02:40] jacob-israel-turner commented on #67
Scratch that, underscores are legal for Firebase naming.

[2015-12-29 10:05] orlade opened #69 "fetch doesn't require context option"
It appears that the required `context` option of `fetch` is not used, and hence shouldn't be required. If you pass in an empty object and print it out in the `then()` callback, it's still an empty object, and there's no other way to interact with the `fetch` function in which the context would be relevant (AFAIK).

[2015-12-29 16:30] tylermcginnis commented on #69
:+1: I'll take a look soon.

[2015-12-29 20:39] bfollington commented on #40
For what it's worth, I'm also experiencing this at the moment. Any progress on the issue?

[2015-12-29 20:55] tylermcginnis commented on #40
The startup I work for is about ~2 weeks from launch. Once that's done I plan on spending a day or two and going through all the PRs and issues and getting everything fixed.

[2015-12-30 02:09] gil-- opened #71 "How to push update on initial page load?"
I'm trying to implement a view counter which will update the components count once after the initial state loads while using syncState and I'm unable to utilize the component's state unless I use fetch.

Here's part of my code:

[code]

My issue here is the state object snippetInfo is empty so this.state.snippetInfo.views becomes undefined.  If I change syncState to fetch and manually set the stat

[2015-12-30 02:38] gil-- commented on #71
For now, I've added a property in the state initially set to false and set it to true once I do the initial view count update. Really feels "dirty" so hopefully I missed something with syncState...

[code]

[code]

[2016-01-02 16:48] markgoodyear opened #72 "Keep Firebase generated key when removing an item using asArray."
Using `syncState` with the `asArray` option, If I remove an item from the array, all the keys in Firebase get set to incrementing numbers, rather than the generated key: http://d.pr/i/10uwS/wCQ6aK0y+.

Is there a way to keep the original Firebase key?

[2016-01-02 17:03] tylermcginnis commented on #72
Currently no, since it casts the Firebase object to an array. But from roughly playing it out in my head it sounds like something like that could work in the future.

[code]

Maybe something like that?

[2016-01-02 17:09] markgoodyear commented on #72
Something like that would work yes :+1:. Thanks for the quick response!

[2016-01-03 19:42] ziruixiao opened #73 "Firebase Authentication and State Issue"
Hello, I am a student learning React and am using re-base, which I love so far. Great job with it and thanks! :)

I am trying to create a web app where a user must sign in with Google before viewing any of the content. I began with the code from the ```github-notetaker``` example and have edited ```Main.js```. So far, I am writing the entire logic inside the ```init()``` method and setting ```logg

[2016-01-03 19:43] ziruixiao commented on #73
Oh, and a quick follow-up. I am calling ```controller.init()``` after a successful login because I want to page to automatically re-direct to all the content after a successful login. I could not figure out a way to do it, and so I think that may be causing the problem.

[2016-01-03 19:57] ziruixiao commented on #73
Another follow-up from some quick debugging. I realized that my issue is that whatever I write to ```this.state``` is overriden by the following code when the pae is run the second time.
[code]

Does anyone have any idea why this happens or what I can do as a workaround? Thanks!

[2016-01-03 20:42] tylermcginnis commented on #73
@jacob-israel-turner Want to take a look at this when you get a sec?

[2016-01-03 23:07] ziruixiao commented on #73
Thanks ahead of time @tylermcginnis and @jacob-israel-turner

I'll do some more debugging of my own tonight and will update if I solve the issue.

[2016-01-03 23:14] tylermcginnis commented on #73
Taking a closer look at the example code you gave it looks like you're not using Re-base so this is more of a Firebase + React issue. Would you mind taking your question to stackoverflow and posting the link here and I'll take a look at it over there? It's usually a good idea to keep issues as issues with the repository rather than specific questions about using the tech.
Thanks!

[2016-01-03 23:31] ziruixiao commented on #73
Hi Tyler, that makes sense. I've transferred the question to StackOverflow and will close this issue. Thanks again!
@tylermcginnis @jacob-israel-turner

http://stackoverflow.com/questions/34582840/firebase-authentication-and-state-issue

[2016-01-03 23:31] #73 closed

[2016-01-04 13:38] mayacode commented on #40
It is related to issue. As far, as no one can take care I try to solve this problem in other way.

Maybe someone could help me here http://stackoverflow.com/questions/34581304/react-router-how-to-for-render-of-router-if-components-state-changes ? I would appreciate any kind of hint.

[2016-01-05 09:57] dustinnoe commented on #35
:hand: I vote for promisify.  In the project I am working on I have a view that depends on two separate syncState calls loading. It would be great to chain those together. :link:

[2016-01-05 19:51] ziruixiao opened #74 "Using Queries with SyncState"
Hello, I am currently using the ```syncState``` method and modifying the ```github-notetaker``` example. Here's how my Firebase is structured:
[code]

When loading a list of ```users```, I only want to fetch the ones that have ```access="normal"```.

Here's my Firebase code, which I think should be correct unless I am making a dumb mistake.
[code]

I am then printing out the usernames onto the pag

[2016-01-05 19:54] jacob-israel-turner commented on #74
On first glance, this looks correct.  Can you upload this to a Github repo so I can reproduce locally?

[2016-01-05 20:06] ziruixiao commented on #74
@jacob-israel-turner thank you so much! I've uploaded it here:
https://github.com/ziruixiao/rushchad-react

Simple google authentication that doesn't persist any data or tokens yet. Click on your name in the top right corner next to the logout logo.

It's basically the ```github-notetaker``` example. I think the only relevant changes I've made to this project that are related to this issue are in

[2016-01-06 01:16] zbuttram commented on #71
Perhaps I'm not understanding properly, but if you only want to grab the view count once on load, why not just use fetch and set an initial value for the view count in your initial state of something like zero? Then it will display zero until the update is fetched.

[2016-01-11 05:13] zbuttram opened #76 "Push should return the endpoint it just created?"
The Firebase one does. Something like the below should do maybe?

[code]

[2016-01-12 18:38] benthemonkey commented on #76
+1, I'm trying to follow the tutorial for adding a presence system and need a reference to the endpoint to call `.onDisconnect`

https://www.firebase.com/tutorial/#example/presence

[2016-01-12 22:10] arve0 opened #80 "Question: onDisconnect, keeping track of online users"
How would you do something like [keeping track of online users](http://stackoverflow.com/questions/15982215/firebase-count-online-users) with re-base? Not at all, just use a regular firebase ref?

[2016-01-12 23:43] zbuttram commented on #76
@benthemonkey Exactly my use for it as well. Or storing the endpoint to check back on later, we would need to know what the unique ID it ended up with is.

I was going to try making a pull request for this but it would be my very first open-source contribution so I'm a little hesitant. Would love to see what a pull request for this looks like with any relevant tests (I honestly don't even know if

[2016-01-12 23:49] zbuttram commented on #80
Yes, this would need to be done with the standard Firebase library right now since you'll need to use the onDisconnect function. Check out https://www.firebase.com/blog/2013-06-17-howto-build-a-presence-system.html

[2016-01-13 00:32] tylermcginnis commented on #76
@zbuttram Don't be hesitant. I'm willing to spend as much time helping as it takes to get it right. I'm still super swamped but I'd love to help in any way possible. Give it a shot and we'll iterate on it. :+1:

[2016-01-13 05:15] tylermcginnis commented on #76
https://github.com/tylermcginnis/re-base/pull/81 :100:

[2016-01-13 05:15] #76 closed

[2016-01-13 07:36] zbuttram commented on #40
Pretty sure I just ran into this issue today. Getting around it by pushing data to Firebase instead but would love to be making setState() calls instead.

[2016-01-20 10:10] thelittlesaul opened #83 "More examples please"
In the case to implement user authentication, sign in & sign up, for instance. How should I structure the user model and controller to work with this library? It seems not designed to replace the dispatch/action/reducer patterns in Flux/Redux...

[2016-01-25 23:12] DrMabuse23 commented on #20
... something news ?

[2016-01-31 18:23] giacomorebonato commented on #42
I had the same question and it seems that pagination in Firebase is a little bit different comparing to SQL and NOSQL (I am new to Firebase).
After I have read
http://stackoverflow.com/questions/27691254/firebase-query-with-limit-offset-possible-solutions
https://www.firebase.com/blog/2013-10-01-queries-part-one.html#paginate

I think that pagination make sense when using 'fetch' and could be acco

[2016-02-05 20:51] mosse opened #84 "Passing callbacks to bindToState"
Apologies if I'm missing something, but is there any reason why you couldn't pass a callback to bindToState when the listener is set, as with syncState?

Love your work Tyler!

[2016-02-12 14:14] guidobouman opened #85 "Can't reconnect to new endpoint"
Setup: We have an app that lets multiple clients hook in on one shared session. It's an app that's being used in classrooms so the sessions are stored as classes. In the app students can specify the class they're connecting to through an ID.

When a student enters an ID I connect to that class:

    this.base = Rebase.createClass('https://[my-url].firebaseio.com/classes/' + classId);

The problem

[2016-02-12 14:21] guidobouman commented on #85
Actually, you'll probably want a multiton pattern based on the endpoint:

    https://en.wikipedia.org/wiki/Multiton_pattern

[2016-02-16 23:22] i-bajrai commented on #40
Update the source to not be singleton:

[code]

Then import the class twice:

[code]

[code]

Now sync state can be used to update multiple state objects:

[code]

[2016-02-29 06:49] tylermcginnis opened #87 "Declarative API"
Explore this.

[2016-03-10 04:11] zenorocha commented on #40
Same error here :/

[2016-03-10 21:22] benjamingeorge opened #88 "syncState and FB generated keys"
is there a way to use syncState with an object of objects with auto-gen keys? Such as:

[code]

seems like you can only do sync with arrays since we don't know what key will be generated on FB.
Do i have to setup a listener, and then use push ?

[2016-03-10 21:32] #88 closed

[2016-03-12 20:38] kristianmandrup opened #89 "How are errors and timeouts handled?"
If there is no connection or some firebase error occurs, how do we handle that?
I only see a mention of a `then` success function? But I assume you use basic promises? Do I just wrap the whole thing in a `try/catch`?
How about setting timeouts? Shouldn't some of this be "baked in" (or is it already?)

Would be nice with something like this:

http://stackoverflow.com/questions/24885500/setting-time

[2016-03-13 09:51] kristianmandrup commented on #89
I've now added support for this this in my own branch ;)

[2016-03-13 09:51] #89 closed

[2016-03-13 19:00] njoshi22 opened #90 "Date object not being pushed"
I'm trying to push a new date as part of an object but wherever the value is simply "new Date()" the key does not get pushed.
[code]

Here, the time key is being dropped but the text key works just fine. However, if i do this:
[code]

It works just fine and is properly pushed to Firebase. Any ideas why the former doesn't work?

[2016-03-14 09:37] guidobouman commented on #85
@tylermcginnis @jacob-israel-turner ?

[2016-03-22 01:12] jasan-s opened #93 "newbie question"
hello, i'm learning react with es6 classes and firebase. came across this lib. I had couple questions, is there a benefit to using re-base push method instead of Firebase push method( in one i see i create a re-base class  instance and another a new firebase instance ?  second, what flux type architecture does this lib play nice with, ALT , FLUX, Redux?  Thanks in advance

[2016-03-22 20:15] kandaraj commented on #90
Try this
'''(new Date()).toJSON()'''

[2016-03-25 02:56] nickbae91 opened #94 "changeEmail exposed?"
Hey,

I'm using re-base for my new app (great work btw!) and was wondering if the changeEmail method (https://www.firebase.com/docs/web/api/firebase/changeemail.html) was exposed in Rebase. If not, is there a particular reason for it not to?

Thanks a ton!

[2016-03-29 05:41] janwennesland commented on #84
I'm also wondering about this, any updates?

[2016-03-30 19:34] foffer commented on #93
Hi @jasan-s.

As you can see [here](https://github.com/tylermcginnis/re-base/blob/master/src/rebase.js#L231) it is the exact same method, the benefit being, that you don't have to create a new Firebase instance as well as your current Rebase.

As to flux pattern, firebase pretty much substitutes the need for Flux
From the [website](https://facebook.github.io/flux/docs/overview.html#content)

Fireb

[2016-03-30 22:59] jasan-s commented on #93
@foffer Thanks. I came across that realization as well that I can get away without using flux. BUt couple of other Developers told me that i would have real hard time developing a production grade React app without flux/redux.

[2016-04-14 02:13] norbertbilbeny commented on #93
Any further thoughts on the last comment? I'm also new and I'm also getting conflicting advice as to whether Redux (or Flux generally) makes sense for a serious, potentially large app for the long term. All thoughts welcome.

[2016-04-17 06:17] hidace opened #95 "Having trouble connecting to firebase app"
Hi,

I'm having an issue connecting my React component to Firebase through re-base. I'm not sure why it isn't even connecting (when I check my dashboard on Firebase it says it's still completely null). Not sure what I'm doing wrong here, but any and all help is appreciated.

[code]

[2016-04-18 23:13] #95 closed

[2016-04-20 04:23] norbertbilbeny opened #97 "How to use Redux with Re-base (and does it make sense for large apps?)"
I want to use Redux to avoid having to pass down callbacks several components down from the stateful component and instead call action creators from the leaf components down the tree directly, allowing re-base to communicate with Firebase once Redux has changed the local state.

Can this be done and does it make sense for a fairly complex application? I'm new to web development.

[2016-04-22 04:50] granmoe commented on #97
That seems pretty weird ;-) I would spend more time with the Redux documentation and examples before going this route. Try to take the most idiomatic Redux-only approach with your app and see if it will work. I think you might be trying to use Redux for something it isn't meant to do.

[2016-04-22 14:03] mdopieralski commented on #84
+1

[2016-05-03 11:43] vzhen commented on #69
Same here, i already include context but keep show me this error

`	checkIfUserExists() {
		base.fetch('users', {
			context: this,
			then: (data) => {
				console.log(data)
			}
		})
	}`

[2016-05-08 00:04] #97 closed

[2016-05-08 00:10] norbertbilbeny opened #98 "How to update subset of database without pushing new ref?"
push() generates a new ref. I just want to update (post?) one of the values of a particular reference without changing its reference key but also without having to pass every other child. If I just use post, the reference name doesn't change but it seems to require that I pass the full object to it since only the things that are passed remain; everything else is deleted.

For example, if I use pos

[2016-05-18 18:45] dggriffin opened #99 "Upgrade to support latest firebase versionings"
Details here: https://firebase.google.com/support/guides/firebase-web#import_your_project_to_the_firebase_console_numbered

[2016-05-18 20:40] holgersindbaek commented on #99
+1

[2016-05-19 06:36] nickbae91 commented on #99
+1

[2016-05-19 15:34] nickbae91 commented on #99
I'm wondering - wouldn't there be lots of changes to be made to work with the new Firebase API, particularly around the Authentication part?

[2016-05-19 17:46] jezielchai commented on #99
+1

[2016-05-19 17:58] jezielchai commented on #99
@nickbae91 - it seems there would be significant changes, yes. I tried adding the new firebase methods to rebase.js but it turns out the new firebase is structure completely different such that var Firebase = require('firebase'); as found in rebase.js doesn't carry the same meaning as it did in firebase 2.2.7.

if that terrible run-on sentence makes any sense.

@project owners if I can be of any h

[2016-05-19 21:31] tylermcginnis commented on #99
Hi everyone. Sorry for being so quite with this repo lately. Life is busy. I'm actually at IO currently but once I get home I'll dive into this. Thanks for making the issue!

[2016-05-23 19:17] antoligy commented on #99
Hey @tylermcginnis, have you had a chance to look yet?  Any pointers on how and if we can help?

[2016-05-23 21:21] dggriffin commented on #98
Just make your POST as precise as it needs to be.

In your example, if you're only changing mainEntry, then POST its new value to /yourpathhere/KH75lmPFRzdPUkJ8Fs9/mainEntry.

If you're wanting to update multiple attributes simultaneously, you're required to clone the resource at the target endpoint, update the attributes you'd like changed, and post the full object back.

[2016-05-23 22:54] norbertbilbeny commented on #98
Thank you. That makes obvious sense. Newbie idiocy here.

[2016-05-24 02:42] norbertbilbeny commented on #99
Google authentication doesn't seem to be working for me. I'm guessing due to the update.

[2016-05-24 19:52] norbertbilbeny commented on #98
Actually, that creates a problem: if I change the endpoint to /yourpathhere/KH75lmPFRzdPUkJ8Fs9/mainEntry, what I POST is stored as key: value, whereas I just want to store the value, the key being mainEntry.

Can this be done without an extra layer of depth of the sort mainEntry/keyOfWhatIPost/valueOfWhatIPost ?

I want mainEntry/valueOfWhatIPost instead.

[2016-05-24 20:28] dggriffin commented on #98
Can you link the snippet of code where you're doing your POST? What does the data object you're posting look like?

[2016-05-24 21:16] norbertbilbeny commented on #98
The data I'm posting is an array. I want to update the array "objectors" and leave everything else as it is.

`base.post(`statements/${this.props.id}`, {
		    data: {
		  			netCount: this.props.netCount,
		  			mainEntry: this.props.mainEntry,
		  			statement: this.props.statement,
		  			for: this.props.for,
		  			objections: this.props.objections,
		  			author: this.props.author,
		  			upv

[2016-05-25 15:20] dggriffin commented on #98
Sounds like that's because you're posting an object, rather than the values themselves.

You're code should look like:

[code]

If you posted with:

[2016-05-25 21:12] norbertbilbeny commented on #98
Yes! Thank you dggriffin.

[2016-05-25 21:12] #98 closed

[2016-05-31 00:28] holgersindbaek opened #100 "Data model layer for Re-Base"
I'm sure this is a bit out of the scope of what Re-Base is supposed to do, but if you have a suggestion, I'd love to hear it - http://stackoverflow.com/questions/37535102/implementing-data-model-with-reactfire-or-re-base-firebase.

I would like to manipulate the data I receive from Firebase before it hits my view (component). Does anyone have experience with Re-Base and a good data model library?

[2016-06-05 12:07] jkomyno commented on #83
+1

[2016-06-05 15:46] jkomyno commented on #40
Same issue for me. I've also tried using "let _this = this", and then _this.ref = base.syncState(...) but it didn't work either

[2016-06-07 05:45] qwales1 commented on #99
I was playing around with this tonight and was able to get just the new `firebase.database` portion close to working with the same re-base api. The tests pass when I run them individually, but some of the async tests involving react components fail when I run all the tests. Will look further and see if I can figure why that is happening. There are some definite issues with Auth though. `auth.creat

[2016-06-07 18:44] CusProjects opened #102 "Es6 example!"
create class es6 example please.

[2016-06-15 16:15] ammichael opened #103 "Error with 'authWithPassword' - Authentication provider not enabled (But it is!)"
Hello there!

First of all, great job! Really, really useful lib (:

I'm trying to auth with password and I'm receiving this error:
`[Log] Error: The specified authentication provider is not enabled for this Firebase.`

Yes, I've enabled email/pass auth in Firebase settings:

![fb](https://cloud.githubusercontent.com/assets/6873880/16087838/d925bd4c-32fa-11e6-84ea-fc4cb1b7b0f6.png)

And here is th

[2016-06-16 05:35] simonwillcock commented on #103
I've been experiencing the same issue and I think it might be the issue described in this answer http://stackoverflow.com/a/37511235/2769644

re-base is currently using a 2.x version of the Firebase javascript SDK and apps created in the new Firebase console appear to require the 3.x SDK to be used instead.

[2016-06-16 14:12] ammichael commented on #103
That is bad. Any workaround?

I've tried importing the 3.x SDK alongside with re-base and using it only to login, but it's giving me illegal URL for iframe, or error due protocol mismatch (http local and https firebase).

[2016-06-16 23:24] simonwillcock commented on #103
I did find a workaround actually, but it's probably only useful for new projects and not established ones.

If you create a project in the legacy console and then migrate it into the new console, it will still allow you to use the 2.x SDK and so the authentication works. It's only projects that were created in the new console that enforce 3.x

Hope that helps!

[2016-06-17 14:48] ammichael commented on #103
Well, I'm feeling kinda dumb, but I think I missed something here.

You said it still allow me to use 2.x SDK, but is it automatically, or I should set it somewhere?
If it were automatically, I wouldn't have had this problem at first, right? So it need to be set. But I couldn't find it in Firebase's Project Settings panel.

Also, my project is new and was created in the new console. Hope I can swi

[2016-06-17 16:03] mmoutenot commented on #99
@qwales1 could you put your PR up? Maybe I can help get the rest working.

[2016-06-17 17:19] qwales1 commented on #99
@mmoutenot I just submitted the PR with an explanation of what I *think* is going wrong with the tests.

[2016-06-17 23:54] simonwillcock commented on #103
So if you created the project in the new console, there's no way to use 2.x . I had to recreate my project (which was brand new) in the legacy console to be able to use 2.x

[2016-06-18 02:16] ammichael commented on #103
I've managed to get it working here with your tip. Thanks!

[2016-06-19 20:37] mmoutenot commented on #99
@qwales1 responded on the PR that you're 100% right. Just a case of that `null` value slipping in before the dummy data. As for the user stuff - I haven't had a chance to look yet. Will do soon

[2016-06-20 04:10] qwales1 commented on #99
@mmoutenot `firebase.database` should be good to go. I started on the existing Auth stuff. I also added you to that repo if you want to commit directly to the PR.

[2016-06-27 06:48] oscar-b commented on #103
https://github.com/tylermcginnis/re-base/issues/99 and https://github.com/tylermcginnis/re-base/pull/104

[2016-06-27 19:15] acmitch commented on #72
+1

[2016-06-30 19:30] xstephen95x opened #105 "Authentication Depreciation"
When attempting to use base.authWithOAuthPopup, I received this error,

Is this library no longer able to be used since Google has launched it's own firebase 3.0?

[2016-07-06 00:59] conradwt commented on #105
@xstephen95x I'm experiencing the same issue with an application that I'm trying to use OAuth2 provider link Github.com for logging into an application.  Thus, I'll be looking into how to update this package to Firebase 3.1.0 later this evening.

[2016-07-06 02:11] qwales1 commented on #105
@conradwt @xstephen95x  I started a pull request #104 that updates re-base to use firebase 3.1.0. I don't actually have a real app that uses OAuth so it would be awesome if either of you could install that and double check that it works.

[2016-07-06 02:40] conradwt commented on #105
@qwales1 I have an application for which I can test your branch later this evening.  Thus, I'll report back here.

[2016-07-06 07:34] tylermcginnis commented on #105
@conradwt Can you take this convo over to https://github.com/tylermcginnis/re-base/pull/104 ? Thanks!

[2016-07-06 07:34] #105 closed

[2016-07-06 07:35] tylermcginnis commented on #99
Closing this in favor of https://github.com/tylermcginnis/re-base/pull/104.

[2016-07-06 07:35] #99 closed

[2016-07-06 07:35] tylermcginnis commented on #103
Closing this in favor of https://github.com/tylermcginnis/re-base/pull/104

[2016-07-06 07:35] #103 closed

[2016-07-06 07:36] #102 closed

[2016-07-06 08:05] conradwt commented on #105
@tylermcginnis Sure, no problem.

[2016-07-25 19:48] acmitch opened #106 "Re-Base Authentication SDK Error"
Receive error when attempting to create a user with Re-base. This should be a high priority if can even be fixed at all.

[2016-07-25 19:54] tylermcginnis commented on #106
See https://github.com/tylermcginnis/re-base/pull/104

[2016-07-25 19:54] #106 closed

[2016-07-25 19:59] acmitch commented on #106
Thanks for the quick reply. Any outstanding reason this is not been merged? Just curious.

[2016-08-05 04:05] bmcminn opened #107 "Update firebase intialization for new Google Firebase instances"
Since the Googlization of Firebase took place, they've changed the way things are done when it comes to linking up the new firebase instances with your application.

[code]

Should be pretty simple to update the new version with some added props on the Rebase instance:

[code]

Anyone else run into this issue with the new Google Firebase console instances?

[2016-08-05 04:35] ecjs commented on #107
See #104

[2016-08-16 21:10] Dooblr opened #108 "Syncstate not..er.. syncing."
http://stackoverflow.com/questions/38984499/rebase-redux-firebase-react-data-not-piping-in

I'm using the most basic setup and my array isnt populating.

[2016-08-16 22:57] tylermcginnis commented on #108
@qwales1 Can you take a look into this when you get a sec? Might have to have you tackle issues until I get up to speed with the new implementation.

[2016-08-16 23:01] Dooblr commented on #108
Thanks 😄  I'm not seeing in the readme where to put:

`var base = Rebase.createClass({
      apiKey: "AIzaSyCFRYmS3bFScffCG8Ko7QRieDWExeaa_yE",
      authDomain: "usl-records.firebaseapp.com",
      databaseURL: "https://usl-records.firebaseio.com",
      storageBucket: "usl-records.appspot.com",
    })`

I assume it needs to be with base.syncState() inside componentDidMount(), no?

[2016-08-16 23:15] qwales1 commented on #108
@tylermcginnis yeah for sure checking it out now

[2016-08-16 23:24] qwales1 commented on #108
@Dooblr `var base=Rebase.createClass...` can be anywhere in your app. It always returns the same instance of re-base so I have a separate file that is like ...

[code]
and then I just import that file into the components that need it.

[2016-08-16 23:51] Dooblr commented on #108
Hmm. Well that aside, I believe I have everything in place as you guys specify. Checked it with firebase 3.0.0 and still no dice.

[2016-08-17 00:08] qwales1 commented on #108
@Dooblr from reading your stack overflow question it looks like another component is passing those records in as props initially?

console.log(this.props.state.records)

Is there a `records` property on the state of the component you are calling `syncState` in? If so, can you try just `console.log(this.state.records)` in that render method?

[2016-08-17 17:27] Dooblr commented on #108
Aha!

Problem solved. I was calling console.log in render() with the other JS _before_ the JSX return block. Once I made a button inside the return block that fired a class method that calls console.log, it was there.

So this means state doesn't initialize until the JSX return block?? I find that a little odd, but it works now so I'm not asking questions 😜

Thanks for your help guys. Really fanta

[2016-08-17 17:27] #108 closed

[2016-08-17 20:05] tylermcginnis commented on #108
It's actually more likely due to the fact that console.log is async, though I could be wrong. Regardless, glad it's fixed!

[2016-08-17 22:16] Dooblr commented on #93
+1

Why would you not want redux? Firebase stores only data, not UI state. Further, are there any working examples of Rebase+Redux?

[2016-08-18 04:47] ebello opened #110 "Using re-base and firebase at the same time produces conflicts"
Hi, in my app I am using both re-base and firebase at the same time and am receiving receiving an error: `Uncaught Error: Firebase App named '[DEFAULT]' already exists.`

Here's a relevant code sample:
[code]

I tried passing a name into the `initializeApp` method as defined in [the docs](https://firebase.google.com/docs/reference/js/firebase#.initializeApp) which does fix the error, however that

[2016-08-18 05:32] qwales1 commented on #110
@ebello Are you posting with one app instance and authenticating through the other?
I was literally just thinking it would make sense to add the ability to initialize multiple apps through re-base now that firebase has that. The tests for re-base are using a separate firebase app instance exactly like your code sample, but there aren't any security rules on the test db.

[2016-08-18 06:02] qwales1 commented on #110
Also am curious, is there something that re-base is not exposing that you need from the firebase SDK that lead you to need to use both side by side?

[2016-08-18 12:58] ebello commented on #110
@qwales1 Thanks for pointing me in the right direction. I was [authenticating](https://firebase.google.com/docs/reference/js/firebase.auth) with the default app, which is why it was giving me a permissions error with my named initializer.

For posterity, before my auth code was simply:

`firebase.auth().signInAnonymously()...`

I had to change it to:

[code]

To answer your question, I'm using [tr

[2016-08-18 12:58] #110 closed

[2016-08-18 14:09] qwales1 commented on #110
@ebello awesome thanks for that link. glad its working for you. You may be able to drop the need for the second firebase app all together.
You should be able to access transaction through `base.database`

Something like ...

[code]

[2016-08-18 14:41] ebello commented on #110
You are right indeed, that is much more efficient. Thanks for the tip and helping me remove dependencies @qwales1!

[2016-08-18 16:54] #107 closed

[2016-08-18 16:57] #35 closed

[2016-08-18 16:58] #39 closed

[2016-08-18 16:59] tylermcginnis commented on #40
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 16:59] #31 closed

[2016-08-18 16:59] tylermcginnis commented on #26
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 16:59] #26 closed

[2016-08-18 16:59] #25 closed

[2016-08-18 16:59] #22 closed

[2016-08-18 17:00] #32 closed

[2016-08-18 17:00] #20 closed

[2016-08-18 17:00] #34 closed

[2016-08-18 17:00] tylermcginnis commented on #42
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:00] #42 closed

[2016-08-18 17:00] tylermcginnis commented on #44
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:00] #44 closed

[2016-08-18 17:00] tylermcginnis commented on #46
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:00] #46 closed

[2016-08-18 17:01] tylermcginnis commented on #49
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:01] #49 closed

[2016-08-18 17:01] tylermcginnis commented on #52
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:01] #52 closed

[2016-08-18 17:01] tylermcginnis commented on #58
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:01] #58 closed

[2016-08-18 17:01] tylermcginnis commented on #59
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:01] #59 closed

[2016-08-18 17:01] tylermcginnis commented on #66
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:01] #66 closed

[2016-08-18 17:01] tylermcginnis commented on #67
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:01] #67 closed

[2016-08-18 17:02] tylermcginnis commented on #69
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:02] #69 closed

[2016-08-18 17:02] tylermcginnis commented on #71
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:02] #71 closed

[2016-08-18 17:02] tylermcginnis commented on #72
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:02] tylermcginnis commented on #74
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:02] #74 closed

[2016-08-18 17:02] tylermcginnis commented on #80
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:02] #80 closed

[2016-08-18 17:02] tylermcginnis commented on #83
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:02] #83 closed

[2016-08-18 17:03] tylermcginnis commented on #84
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:03] tylermcginnis commented on #85
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:03] #85 closed

[2016-08-18 17:03] #87 closed

[2016-08-18 17:03] tylermcginnis commented on #90
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:03] #90 closed

[2016-08-18 17:03] tylermcginnis commented on #94
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:03] #94 closed

[2016-08-18 17:04] tylermcginnis commented on #100
Closing since we just released the new API for Firebase 3.0. Feel free to re-open if this issue still persists.

[2016-08-18 17:04] #100 closed

[2016-08-18 17:05] qwales1 commented on #40
@tylermcginnis this is still an issue in the new release . I pulled in some of the changes from PR #70 and am working on a solution.

[2016-08-18 17:06] tylermcginnis commented on #40
@qwales1 Perfect thanks! I'm basically closing all existing PRs and issues as a way to "restart". Feel free to open up anything you think is still relevant.

[2016-08-18 19:08] mkozhukharenko commented on #93
I think Redux/Flux+Redux make sense if you are planning in a future create you own REST server (instead of Firebase). If will help easily migrate existing code base.

But I'd like to hear an opinion of more experienced developers about this question.

[2016-08-21 21:57] frehner commented on #40
This can be closed now that #111 was merged, right? (Just trying to help clean house)

[2016-08-21 21:58] qwales1 commented on #40
Yes definitely thanks @frehner!

[2016-08-21 21:58] #40 closed

[2016-08-23 06:23] milushov commented on #84
But there is still no callback for `bindToState`. I didn't find any reference in readme for this method. (btw, `then` property not work)

[2016-08-23 15:34] mcrider opened #113 "Data in push's then() callback"
Is it possible to get data about the newly created object in the `then()` callback when pushing data to Firebase?  Particularly I need the key/id of the newly created object (essentially so I can add it as a foreign key to another object).  It seems like their are no arguments passed to the callback however (and `this` is null). I may be doing something weird though as I'm new to es6-flavored reac

[2016-08-23 16:03] qwales1 commented on #113
@mcrider  You are right that Firebase does not pass any arguments to that callback so I don't think you are doing anything wrong. The callback itself **should** return the reference to the data you just pushed which has a `key` property, but the current implementation does not seem to be returning it. I will work on implementing a fix. Thanks for pointing that out.

[2016-08-23 16:40] qwales1 commented on #113
@mcrider until that gets fixed you could do something like this to get around it which is a modified example fron the firebase docs.

https://firebase.google.com/docs/reference/js/firebase.database.Reference#push

[code]

[2016-08-23 17:04] qwales1 commented on #113
@mcrider scratch that sorry the reference returned from `base.push` does have the `key`

[code]

[2016-08-23 18:31] mcrider commented on #113
Ah cool, thanks.  Just curious, how is there not an async issue with this? Is the key not generated on firebase's servers?

[2016-08-23 18:35] mcrider commented on #113
I guess its pretty obvious that its generated locally, now that I remember that firebase keeps a localStorage copy of everything :) Thanks again @qwales1 .

[2016-08-24 01:01] #84 closed

[2016-08-24 12:00] kutagh opened #116 "removeBinding on syncState does not reset the options.context.setState"
When using base.syncState, you pass options.context = this. In the syncState function, options.context.setState is overridden by a custom function that handles pushing changed data back.

However, when using base.removeBinding, the setState is not reverted back to the previous one. So trying to remove the binding and then adding a new binding with the same key but different endpoint, would cause e

[2016-08-24 23:51] qwales1 commented on #116
@kutagh Thanks for the report. To make sure I am understanding this correctly,  you are using `removeBinding` somewhere other than `componentWillUnmount` in your component. Then when you add a new `syncState` binding on a different endpoint, the next time you call setState it is pushing data to both endpoints ( the one that should have been removed and the new one ) ?

[2016-08-25 07:02] kutagh commented on #116
@qwales1 That is correct. In essence, assume we got the endpoint /rooms/$room_id with several properties in it. We use a React Component that will receive the property $room_id, so when that property changes, the endpoint that we listen to needs to be updated. That it does after removeBinding & a new syncState on the new endpoint. However, every time we do setState, it tries to push the change to

[2016-08-26 15:12] qwales1 commented on #116
@kutagh totally makes sense. syncState supporting multiple keys in the same component now makes this challenging to fix. It can't just reset to the original setState because it would lose any other syncState bindings that were added before or after. I will dive deeper into this this weekend.

[2016-08-26 15:25] qwales1 commented on #113
For anyone reading this in the future, I was wrong when I said ...

The reference to the new location is returned from `base.push` immediately and the callback gets called with only a possible error argument, if there is an error saving.

https://firebase.google.com/docs/reference/js/firebase.database.Reference#push

[2016-08-26 15:25] #113 closed

[2016-09-01 13:28] srinivasdamam opened #117 "then callback is not working"
[code]

`then` is not called after the state is synced.

[2016-09-01 13:48] qwales1 commented on #117
@srinivasdamam the `then` callback on `syncState` is only called once when the initial listener is set ( primarily for loading indicators ) and it is not called with the data as an argument. `data` in the case of your code example would be the context.

[2016-09-01 13:53] srinivasdamam commented on #117
@qwales1 also I was not calling the function in `then`

[2016-09-01 13:58] qwales1 commented on #117
@srinivasdamam Ahhh yup I missed that too. Working as expected now?

[2016-09-01 14:02] srinivasdamam commented on #117
Yep, it's all right now. Thanks. Closing the issue.

[2016-09-01 14:02] #117 closed

[2016-09-05 11:10] agumack opened #119 "How receive a data callback use push?"
Hi, I tried but not success

[code]

[2016-09-05 11:45] mkozhukharenko commented on #119
It's expected behavior.
See this [line](https://github.com/tylermcginnis/re-base/blob/master/src/rebase.js#L261) in the re-base source code and then follow to the firebase [push documentation](https://firebase.google.com/docs/reference/js/firebase.database.Reference#push):
it says that `onComplete` has next signature:  `function(nullable Error)`.
So, in case if a `push` is successful - the argumen

[2016-09-05 14:11] agumack commented on #119
thanks @mkozhukharenko
my case then push success node1, i want to receive callback is newID for next step.
can you help me a simple example?

Thank you.

[2016-09-05 14:21] mkozhukharenko commented on #119
according to [docs](https://firebase.google.com/docs/reference/js/firebase.database.Reference#push) `push(value, onComplete)` returns [firebase.database.ThenableReference](https://firebase.google.com/docs/reference/js/firebase.database.ThenableReference)
so, you can do next:
[code]

[2016-09-05 14:29] agumack commented on #119
thank so muck @mkozhukharenko

[2016-09-05 17:02] #119 closed

[2016-09-05 18:37] agumack opened #120 "How do upload file to Firebase Storage"
Hi @tylermcginnis
Where is example for upload file?

Thank so much!

[2016-09-05 18:54] qwales1 commented on #120
@agumack re-base doesn't have any storage helper functions, but you can access the underlaying firebase SDK through re-base.

[code]
then you can just use the firebase guides for reference on how to use it

https://firebase.google.com/docs/storage/web/start

In their docs you can just replace anywhere they use `firebase.storage` with `base.storage`

[2016-09-05 18:54] agumack commented on #120
thanks @qwales1

[2016-09-06 12:22] sumantimalsina9 commented on #120
can someone post a sample example so that i can figure out how to use it.

i was trying to use it like this:
storageRef.ref().put("").then(function(snap){
      console.log('Uploaded a blob or file!');
    });

but i dont know whats going wrong

[2016-09-06 19:38] oscar-b opened #121 "Dynamic queries"
Hey

Is it possible to do dynamic queries with `bindToState()`, for example:

		this.bindings.push(base.bindToState('days', {
			context: this,
			state: 'days',
			queries: {
				orderByKey: true,
				startAt: startDate,
				limitToFirst: this.state.displayedDays,
			},
		}));

I want to update `this.state.displayedDays` and have re-base update the data from Firebase.

Possibly related to #42?

[2016-09-07 00:31] qwales1 commented on #121
@oscar-b it would need to remove the current binding and then add a new one which it currently doesn't do, but that would be super useful. It seems like it would be possible to implement that maybe with an additional method, but I am not sure what lifecycle method that could go in. My initial thought is `componentDidUpdate` to keep it within the same component and check if the value has changed be

[2016-09-07 00:54] qwales1 commented on #121
@oscar-b you could possibly do something similar to what @kutagh was doing in #116 .
Use a HOC to pass down the`this.state.displayedDays` value as props to the child and then use `componentWillReceiveProps`

1. Check if the value has changed
2. If it has, `base.removeBinding` the existing ref
3. Add a new `bindToState` ref with the changed value as the new query

Something like this in the child c

[2016-09-08 10:38] oscar-b commented on #121
@qwales1 It was quite easy to do with something like this:

[code]

[2016-09-08 14:19] acmitch opened #122 "How to handle errors question"
Newbie question ... How do you handle errors? Just a normal try...catch?

[code]

[2016-09-08 14:45] qwales1 commented on #122
@acmitch really good question. if there is an error the `then` callback will be called with an error as its only argument.

[code]
should update the examples in the docs to reflect that

[2016-09-08 15:17] qwales1 commented on #121
@oscar-b oh yes! much nicer.

[2016-09-08 22:45] anotherpit opened #123 "`then` option vs returning a promise"
Currently every method has `then` option to pass callback. But why not just return a Promise (especially considering built-in [firebase.Promise](https://firebase.google.com/docs/reference/js/firebase.Promise))? Is it design decision or something? What are advantages of current approach compared to Promise?

[2016-09-09 00:23] qwales1 commented on #123
@anotherpit I can tell you what I was thinking at the time. One, the old version of the Firebase SDK did not have Promises, as far as I can tell, I started using Firebase like 2 weeks before they made the change to the new version.  By keeping the callback pattern in place, existing users of re-base could potentially upgrade to the new version with only a change to how they initialized re-base. Tw

[2016-09-09 01:04] anotherpit commented on #123
@qwales1

1. Sure, callback pattern should be kept in place for backward compatibility, etc.

2. I also agree that Promise doesn't make any sense for `syncState`, `bindToState` and `listenTo`.

3. `fetch`, `post` and `update` currently don't return anything at all, so it would only make them more flexible if they return Promise.

4. _if you pass a callback use it, but if you don't you get back a P

[2016-09-09 03:11] qwales1 commented on #123
@anotherpit

To point 4...
Yes exactly it would the return Promise either way. Up to you to use it if you want. Will call your callback if you provide one as well.

To point 5.

It actually does return the Promise or [ThenableReference](https://firebase.google.com/docs/reference/js/firebase.database.ThenableReference) now and definitely should be updated in the docs to reflect that. So no breaking

[2016-09-09 03:25] qwales1 commented on #120
@sumantimalsina9

first line should be

[code]

[2016-09-09 12:19] anotherpit commented on #123
@qwales1 Well, Firebase docs say that despite the name the `ThenableReference` interface doesn't have `then` and `catch` methods. Perhaps, some inaccuracy in documentation, but I cannot check it right now.

[2016-09-09 14:04] qwales1 commented on #123
@anotherpit Yeah that is strange. It doesn't seem to reference the [Thenable](https://firebase.google.com/docs/reference/js/firebase.Thenable) portion at all besides it being in the name like you said. I can confirm that it is definitely there though. The return value from `push` has a `.then` and `.catch` so only `fetch`, `post` and `update` would need to be changed.

[2016-09-09 14:17] anotherpit commented on #123
@qwales1 Great! Thanks for check. I've reported an issue on documentation to Firebase team. Would you provide some PR on this, or should I give it a try? Do we need more collaborators in this thread to approve the idea?

[2016-09-09 15:19] qwales1 opened #124 "Fetch should have an onFailure callback"
I swear I saw an issue for this at one point, but cannot find it. There is an available onFailure callback on the Firebase [ThenableReference](https://firebase.google.com/docs/reference/js/firebase.database.ThenableReference#once) that re-base is not exposing.

[2016-09-09 17:52] qwales1 commented on #123
@anotherpit If you want to give it a try go for it. I'd be glad to help out if you have any questions. If not, I should have sometime this afternoon to work on it.  Also since `fetch` is going to need some work anyways #124 could be tackled at the same time. And yes definitely would like to get @tylermcginnis 's feedback

[2016-09-09 18:23] anotherpit commented on #123
@qwales1 Sorry, I'll hardly have enough time to work on it till (at least) Sunday.

[2016-09-10 15:34] acmitch commented on #122
Thanks! That's great.

[2016-09-10 16:52] qwales1 commented on #123
@anotherpit No worries. I started on it last night, should have something today hopefully.

[2016-09-11 17:24] acmitch opened #127 "Persisting Auth State Question"
This might be the wrong place to ask this question. But was wondering how to persist the Authentication state? I have written some middleware to load the user or redirect if not signed in. However, if signed in ... every time I reload the page I lose authentication data.

Seems that `const user = base.getAuth();` is not returning the user if I do a reload on the window. What am I doing wrong here?

[2016-09-11 17:43] qwales1 commented on #127
@acmitch I think possibly what is happening is that `base.getAuth()` is returning before the firebase SDK is done initializing after the page reload. The Firebase SDK should persist the authentication for you. I think Firebase even recommends using `firebase.auth().onAuthStateChanged` which maps to re-base's `base.onAuth` in their docs instead of grabbing the `firebase.auth().currentUser` which is

[2016-09-11 18:27] acmitch commented on #127
Makes sense and works like a charm! This saved me a lot of headache. Thanks again.

[2016-09-11 19:25] qwales1 commented on #127
@acmitch awesome! glad its working.

[2016-09-11 19:25] #127 closed

[2016-09-11 19:26] #122 closed

[2016-09-11 19:29] qwales1 commented on #120
@sumantimalsina9 I am going to close this, but if that doesn't get it working for you feel free to reopen

[2016-09-11 19:29] #120 closed

[2016-09-14 03:07] #116 closed

[2016-09-14 03:07] #123 closed

[2016-09-14 03:07] #124 closed

[2016-09-20 09:57] srinivasdamam opened #128 "updating the sync"
[code]

[2016-09-20 11:16] srinivasdamam commented on #116
I'm having the same issue. Any fix or workaround? @qwales1

[2016-09-20 12:14] qwales1 commented on #128
@srinivasdamam are you using the latest version of re-base?

[2016-09-20 16:55] srinivasdamam commented on #128
yep, updated and it works fine now. Closing the issue.

[2016-09-20 16:55] #128 closed

[2016-09-20 18:17] hyperbrave commented on #93
Does re-base work out-of-the-box with redux state management?   I want to try jumpsuit (https://github.com/jumpsuit/jumpsuit) and am wondering how friendly re-base will be.

[2016-09-20 23:00] qwales1 commented on #93
@hyperbrave I was wondering how that would play with `syncState`. I think also you could run into problems with multiple components using `syncState` as it will always use the first `context.setState` passed to it for subsequent calls. How does component.js call the React component's setState in the example?

[2016-09-20 23:58] hyperbrave commented on #93
@qwales  if you move the base.syncState to the outer scope and component.js has a reference to it, you can manually call it.  I have syncState working that way, but it'd be nice if it was abstracted.    There's a redux firebase repo I may look at.

[2016-09-21 16:05] milushov opened #129 "Child events"
Is it possible to listen child events like: `child_added, child_changed, child_removed`?

[2016-09-21 16:19] milushov commented on #129
Ok, I found exported firebase object `base.database`

[2016-09-21 16:19] #129 closed

[2016-09-23 11:10] srinivasdamam opened #130 "deleting the child keys"
How to delete the child keys ? Also Is there any work around that I could use fire-base along with re-base?

[2016-09-23 18:13] qwales1 commented on #130
@srinivasdamam you can access the underlying firebase sdk through re-base. See [here](https://github.com/tylermcginnis/re-base#firebase-services) . Depending on what you are trying to do this might work for you. I believe this would also delete the key itself though as it would have no value. Not sure if that matters, but something to be aware of.

[code]

[2016-09-24 05:24] srinivasdamam commented on #130
@qwales1 I don't know that I can using Firebase services, as it is somewhere at the end of documentation :P. Thanks.

[2016-09-24 15:31] acmitch opened #131 "'Update' not returning updated object"
Instead of using Rebase to sync state, there are times I let the Redux store handle the state of my application. This allows me to "lazy" load data only when needed (when not already in memory).

However, when doing a simple 'update' Rebase does not return the updated object, it returns only errors if present. Therefore, I cannot sync the updated data with what's in memory without having to do an

[2016-09-24 15:51] acmitch commented on #131
Another similar case is that the 'push' operation does not return the newly created object. At the very least it should return the generated 'key' on success. This way the in-memory store can be synced with Firebase.

[2016-09-24 17:02] qwales1 commented on #131
@acmitch update doesn't return the full updated object because the firebase
sdk doesn't provide it on update. I definitely think it's worth considering
combining the update and a fetch into one method in re-base for
convenience. I would also hope to have the full object available to use
after calling update. The only possible issue I see is that the user would
need to have both read and write perm

[2016-09-24 18:10] acmitch commented on #131
Awesome! Must have missed that with the push.

Makes sense. I wouldn't worry about it then. I can easily just merge with the store/in-memory value before calling the 'update' operation.

Thanks, for the quick reply.

[2016-09-25 14:39] srinivasdamam opened #132 "Using firebase services doesn't work."
[code]

Never got snapshot even for the first time. Did I did something wrong, correct me.
It didn't work for other end points also.  @qwales1

[2016-09-25 15:22] mkozhukharenko commented on #132
did you create a rebase instance?

[code]

[2016-09-25 15:33] srinivasdamam commented on #132
Yes I'm creating an instance.

[2016-09-27 17:14] agumack opened #133 "How remove using re-base"
Hi all,
How using remove with re-base and catch error?
I am using remove() from firebase docs but alway return true.
Thanks so much.
[code]

[2016-09-28 21:34] qwales1 commented on #132
@srinivasdamam your exact code is working for me so I don't think you are using it incorrectly. is it logging anything or throwing any errors?

[2016-09-28 21:35] #130 closed

[2016-09-28 21:42] qwales1 commented on #133
@agumack What error are you expecting to get? I think the only error could be if the security rules set up in the firebase console disallow write operations for that location. Otherwise its just going to resolve successfully whether the `fireRef` location existed or not.

[2016-09-30 22:08] qwales1 commented on #93
@hyperbrave I looked at jumpsuit briefly and it is very cool. I personally would not use `re-base` with it though. I would just use the firebase SDK directly to implement whatever the recommended way of persisting data and hydrating the stores is with redux. If that is what `redux-react-firebase` does then that would be perfect.

The value, in my opinion, that `re-base` provides is connecting fire

[2016-10-04 07:12] srinivasdamam opened #134 "Handling dynamic configurations"
@qwales1
I need to initialize the fire-base with different configuration as per rest API call.
reset() didn't work and trying to initialize with different configuration returning the previous instance since it is a singleton as far as I know.

[2016-10-04 15:16] qwales1 commented on #134
@srinivasdamam you are right it is a singleton so currently its not possible to initialize more than one app. I was under the impression you didn't need to initialize firebase for REST API calls though.  Is there a place in the firebase docs you are seeing that you could point me to?

[2016-10-04 18:06] zomars opened #135 "Projects created at console.firebase.google.com must use the new Firebase Authentication SDKs"
I'm getting this error when trying to use the `authWithPassword` method. Any ideas?

[2016-10-04 18:12] qwales1 commented on #135
@zomars are you using re-base > 2.0?

[2016-10-04 19:11] zomars commented on #135
Hi, thanks for the response. I was using 1.5, I made an update and now im getting `Rebase.createClass failed. to migrate from 2.x.x to 3.x.x, the config must be an object`

[2016-10-04 19:38] qwales1 commented on #135
@zomars check out how to upgrade to re-base 2.x [here](https://github.com/tylermcginnis/re-base#upgrading-to-re-base-2x-from-1x). All the database methods shouldn't need to be upgraded but there are some changes to authentication and user management to be aware of.

[2016-10-05 04:52] zomars commented on #135
Thank you very much, it's working now. I was taken by surprise with these changes.

[2016-10-05 05:25] #135 closed

[2016-10-05 05:45] srinivasdamam commented on #134
For our application we have different users having different firebase configurations, Say I want login Mr.A I will get the configuration through an end point and initialize firebase with that configuration. Once the user logs out, and trying to login Mr.B who is pointing to different configuration(be a different firebase database URL) then it show user not found because firebase was initialized pr

[2016-10-05 18:24] qwales1 commented on #134
@srinivasdamam yes that makes sense. I will look at what it would take to make this possible.

[2016-10-08 17:15] mikemorton opened #136 "Typescript Definitions"
I was just curious if anyone had attempted to write typescript definitions for this.  A quick google search indicates the answer is 'No' - In that case consider this a feature request!

[2016-10-09 04:44] samit4me opened #137 "onAuth docs appear to be incorrect"
The [onAuth docs](https://github.com/tylermcginnis/re-base#onauthhandler) say that the handler function is passed two arguments **error** and **authData**, but in practice and in the example, it is only passed the authData.

Could someone please confirm this and would you like a PR? Not sure on your contribution process.

[2016-10-09 05:46] qwales1 commented on #137
@samit4me yes you are correct. The handler function would only be passed the **authData**. PR would definitely be welcome.

[2016-10-09 10:26] samit4me commented on #137
I can certainly submit a PR @qwales1 . I also noticed that the `authWithOAuthToken()` will also need updating as it uses `onAuth()` which only returns `user` and not `authData` shall I update both.

Just wondering if you could add the tag "Hacktoberfest" for the [chance to get a T-shirt](https://hacktoberfest.digitalocean.com/)?

[2016-10-09 18:22] #137 closed

[2016-10-09 19:00] srinivasdamam commented on #134
@qwales1 found any solution or workaround for this one?

[2016-10-09 21:55] martellaj opened #139 "Adding objects to an array"
I'm trying to move my data structure from an object with keys to an array. I have a function that adds sample data (7 objects) to an array in Firebase. I had it working with an object, but since trying to move it to an array, only the *last object gets added*.

New to React, new to Firebase, new to re-base, so I'm hoping it's something simple I'm overlooking. Here is all of the code in question, p

[2016-10-09 22:36] qwales1 commented on #137
@samit4me I think `authWithOAuthToken` is correct as is. The handler for will get called with the error or null as its first argument. https://github.com/tylermcginnis/re-base/blob/master/src/rebase.js#L379-L383

[2016-10-09 22:38] qwales1 commented on #134
@srinivasdamam Yes I started working on a solution for this. Hopefully in the next couple days will have a PR.

[2016-10-09 22:44] samit4me commented on #137
@qwales1 That makes sense, prior to my PR `authWithOAuthToken` was using `onAuth`, which didn't make a lot of sense, see the [change here](https://github.com/tylermcginnis/re-base/pull/138/files#diff-04c6e90faac2675aa89e2176d2eec7d8L665). I hope this make sense now? All the little whitespaces changes make it less obvious what changed.

[2016-10-09 23:35] martellaj commented on #139
So I wrote all of this logic to store my state as an object, but transform it to an array when I'm rendering it because I was convinced I couldn't store state as an array with React...

Then it occurred to me instead of calling `setState` many times subsequently while looping that I could just alter the array while looping and then call `setState` just once after. Woo!

[2016-10-09 23:35] #139 closed

[2016-10-09 23:50] qwales1 commented on #139
@martellaj Nice glad you got it working. I was going to say calling `setState` in a loop can be problematic. See this [answer](http://stackoverflow.com/a/35248802) to a StackOverflow question.

[2016-10-09 23:57] qwales1 commented on #137
@samit4me ahh now I see. Yeah I missed that part.

[2016-10-10 03:30] srinivasdamam commented on #134
@qwales1 great. Also I found that we can check the apps initialised using
`firebase.apps` -> this returns an array of apps.
`firebase.app().delete()` -> we can delete the app using delete.

[2016-10-10 03:48] qwales1 commented on #134
@srinivasdamam yes! definitely. That is what it will need to do under the hood. Was thinking a delete() method that called firebase.app().delete() and then cleaned up the listeners, as well as adding support for named apps, which exists in the new version of firebase but is not currently in re-base, so allowing the second parameter to `firebase.initiliazeApp` something like...

[code]

[2016-10-17 19:00] zainfathoni opened #141 "Account Linking"
Hello everybody,

I want to [Link Multiple Auth Providers to a Single Account](https://firebase.google.com/docs/auth/web/account-linking), and I couldn't find in the documentation about how to do it by using re-base. Is it possible to do it by using re-base?

If re-base doesn't provide that feature yet, I am planning to fork and send a Pull Request for this. I am still familiarizing with the codes

[2016-10-17 23:04] qwales1 commented on #141
@zainfathoni re-base doesn't provide a helper method for this, but you can access the firebase auth service you need to accomplish this. Something like (not tested) ...

[code]

auth.currentUser.linkWithPopup(provider).then(function(result) {
  // Accounts successfully linked.
  var credential = result.credential;
  var user = result.user;
  // ...
}).catch(function(error) {
  // Handle Errors her

[2016-10-18 02:51] zainfathoni commented on #141
Hi @qwales1,
Thanks for your guidance.
I will try that approach and give some updates in this issue later. 😄

[2016-10-19 09:07] srinivasdamam commented on #134
@qwales1 any updates on this?

[2016-10-19 13:58] qwales1 commented on #134
@srinivasdamam still working on it. there are some issues with the current tests (expecting a singleton) that need to be worked out.

[2016-10-21 16:22] srinivasdamam opened #142 "Issues with import when using bundlers"
Firebase Setup instructions : [Web instructions](https://firebase.google.com/docs/web/setup)
It says:
If you are using a bundler like Browserify or webpack, you can just require() the components that you use:
[code]
But the rebase is importing firebase from `firebase` not from `firebase/app`, If we use bundlers then firebase might throw an error

[2016-10-22 03:28] qwales1 commented on #142
@srinivasdamam please reopen this with the specific error if you encounter one. re-base imports all of firebase, its uses `firebase/app`, `firebase/auth`, and `firebase/database` specifically and includes `firebase/storage` for convenience. If elsewhere in your code you want to require a specific portion of firebase, as the example above, you should be able to do that without any issue. You can al

[2016-10-22 03:28] #142 closed

[2016-10-22 03:39] #121 closed

[2016-10-22 03:47] #131 closed

[2016-10-22 03:48] qwales1 commented on #133
@agumack feel free to reopen this if you are still encountering an issue

[2016-10-22 03:48] #133 closed

[2016-10-22 03:49] qwales1 commented on #132
@srinivasdamam feel free to reopen this in you are still encountering an issue.

[2016-10-22 03:49] #132 closed

[2016-10-26 10:18] oscar-b opened #143 "Use of Map and WeakMap"
Is the use of Map and WeakMap necessary? I recently added error tracking to our site and found out that old clients barf on these. The alternative is of course to polyfill, but that should probably be documented.

[2016-10-26 15:18] qwales1 commented on #143
@oscar-b I don't think Map is necessary for keeping track of listeners and refs. Could use a different approach. The WeakMap is used because React does not have a unique identifier for each component and `syncState` needs that. Which clients are having issues?

[2016-10-26 15:20] oscar-b commented on #143
@qwales1 Older versions of Chrome (v34) used in Samsung phones from 2014 branded as Samsung Browser.

[2016-10-26 17:38] qwales1 commented on #143
@oscar-b does the error reporting tell you what specifically its blowing up on? Is it `Symbol`?

[2016-10-26 19:17] oscar-b commented on #143
[code]

I guess it's: `new WeakMap`? Or what do you mean?

[2016-10-26 20:57] qwales1 commented on #143
@oscar-b Yes sorry that is what I was asking. Could add `es6-map` and `es6-weak-map` ponyfills as dependencies. They do not mess with the global scope.

[2016-10-27 16:06] oscar-b commented on #143
I would either refactor to use regular object/array or add documentation about compatibility and use of something like polyfill.io.

[2016-10-28 01:23] moroshko opened #145 "Deleting data via .update(endpoint, { data: null }) fails"
Trying to delete data with:

[code]

fails with:

while using the underlying Firebase `.remove()` method works perfectly:

[code]

What am I missing?

I also couldn't find a test that covers this ;)

[2016-10-28 03:16] qwales1 commented on #145
@moroshko that is odd. the firebase docs are a little confusing on this.

![screen shot 2016-10-27 at 8 07 14 pm](https://cloud.githubusercontent.com/assets/2364926/19793570/1a439614-9c82-11e6-8cdb-c03a95fe4922.png)

This should do it though...

[code]

[2016-10-28 03:21] moroshko commented on #145
@qwales1 Thanks, it worked.

I personally find `base.database().ref(endpoint).remove()` more readable though.

It would be nice to add `base.remove(endpoint)` at some stage.

[2016-10-28 03:26] qwales1 commented on #145
@moroshko definitely agree

[2016-10-31 14:21] zainfathoni commented on #141
Hi @qwales1, I just want to give you an update.
I had tried to do as you said, but on EmailAuthProvider by following the [official documentation](https://firebase.google.com/docs/auth/web/account-linking#link-email-address-and-password-credentials-to-a-user-account).

At first, I was stuck because I was unable to get the **auth.currentUser** object. But then I noticed that actually your **onAuth()

[2016-11-03 00:27] hkhanna opened #147 "removeBinding interferes with this.setState"
When a user logs out, I'd like to remove the `syncState` firebase binding and also set the react state of the component to a logged out state so that the app looks logged out to the user. But for some reason, using `base.removeBinding(this.bindingRef)` before a call to `this.setState({...})` in the same function will prevent the latter command from being executed.

Below, I use this combination in

[2016-11-03 17:51] qwales1 commented on #147
@hkhanna Thanks for the report. Definitely a bug. Will get it fixed in next release.

[2016-11-08 11:20] optimistiks commented on #72
This issue still persists on re-base@2.2.0 . If you use `asArray` flag to retrieve a list of items, and then change or remove an item in the list, the keys in Firebase are replaced with integers.

[2016-11-09 03:12] odigity opened #148 "Including via <script> tag?"
Is it possible to simply load the Re-base library via a <script> tag?  I don't have a build process set up for my current project, and I haven't learned Webpack yet, but it looks like there are Webpack references throughout the code...

(I did try including the dist/bundle.js file from github, but when I try to call Rebase.createClass(), I get a Rebase not defined error.)

[2016-11-10 14:07] #134 closed

[2016-11-11 02:46] qwales1 commented on #148
@odigity The current webpack configuration does not expose `Rebase` as a global variable so it wouldn't work in a script tag. It could be changed though to allow for this. I am not going to have access to a computer for another week or so but would be glad to help when I get back and can give more detailed steps.

[2016-11-11 02:47] qwales1 commented on #147
Should be fixed via #146

[2016-11-11 02:47] #147 closed

[2016-11-11 02:48] qwales1 commented on #145
Added `base.remove` in 2.3

[2016-11-11 02:48] #145 closed

[2016-11-11 02:51] moroshko commented on #145
Thanks!

[2016-11-12 14:18] haluvibe opened #150 "Is this the correct way to do oAuth with redirect?"
[code]

[2016-11-12 14:32] haluvibe commented on #150
I get a Warning: setState(...): Can only update a mounted or mounting component. using the above code, any assistance would be greatly appreciated

[2016-11-12 15:59] qwales1 commented on #150
@haluvibe sorry for short response not at computer so hard to give code example but you are missing base.authGetOAuthRedirectResult which will resolve with user if a redirect happened or null if no redirect just occurred ( if no redirect occured, the user could already be logged in so be sure to check for that with onAuthStateChanged even if base.authGetOAuthRedirectResult resolves with null ) The

[2016-11-12 17:47] haluvibe commented on #150
Awesome! That helped heaps!

[2016-11-12 21:04] haluvibe commented on #150
Ok, so now I have this...`import React, { Component } from 'react';
import base from '../../rebase.config.js'
import { Row, Col, Button } from 'react-bootstrap'
import { browserHistory } from 'react-router'
import LoadingAnimation from '../pure/LoadingAnimation'

class OAuthLogin extends Component {
    constructor(props){
        super(props);
        this.state = {
          loading: true,

[2016-11-12 21:11] #150 closed

[2016-11-13 16:13] haluvibe commented on #148
have you tried create react app repository? It is the official supported build tool for React by facebook. Fully featured build tool with no configuration needed

[2016-11-22 06:18] joseburgosjr opened #154 "React + re-base Newbie Question"
I'm having an issue with re-base deleting a key that could just be bad programming on my end.

Setup:
`componentWillMount() {`
` this.base.syncState('data', {`
`  context: this,`
`  state: 'data'`
` });`
`}`
While using React and re-base I have a syncState set on a dataset on componentWillMount, works perfectly, the state is properly set with the corresponding object in Firebase.

However if I try

[2016-11-22 14:06] scottfr opened #155 "Detecting Permission Denied Error"
Is there a way in re-base to check a permission denied error when saving data via syncState?

E.g. if I have a Database Validation Rule that prevents a given state from being synced I would like to be able to provide CallBack to the syncState method that lets me catch and handle this issue.

[2016-11-22 14:07] scottfr opened #156 "Detecting that No Data Exists"
When using syncState is there a way to detect that no data exists at the given path?

I'm trying to differentiate between the 'loading' state (connecting to the DB) and the 'no data exists' state (connected to the DB, nothing at that path) and I don't see an obvious solution.

[2016-11-22 14:32] qwales1 commented on #156
@scottfr You can supply a callback to the `then` property of the options you pass to `syncState`

[code]

[2016-11-22 14:48] qwales1 commented on #155
@scottfr not currently but I think it should provide this. I will look into adding a callback to handle errors syncing to firebase.

[2016-11-23 04:33] qwales1 commented on #154
@joseburgosjr from the React docs...

What you want to do is make a copy of `this.state` then modify the copy and then call `this.setState` with the modified copy. One way to do that would be...

[code]
but your app would have to take into consideration that `this.state.data[key]` might not exist. When you set a key's value to null in Firebase it will delete the key itself.

[code]

[2016-11-23 15:45] scottfr commented on #156
Thank you, but that actually doesn't seem to work for me.

The then() callback is never being called when connecting to a path that does not exist. There are no error messages in the console.

[2016-11-23 16:57] qwales1 commented on #156
@scottfr Do you have permission to read data from that path? I think you may have ran into a bug and its swallowing a permissions error from firebase.

[2016-11-23 17:57] scottfr commented on #156
That would make sense. For an entity that doesn't exist, my database rules
would actually result in a permission denied error when trying to access it.

On Wed, Nov 23, 2016 at 8:57 AM, Chris Wales <notifications@github.com>
wrote:

[2016-11-24 05:09] joseburgosjr commented on #154
@qwales1

Thanks for the tip from the React docs, however I found that doing:
[code]
Works as intended because while I am mutating the state property (a no no), I am still using `setState` to signal these changes, however for arguments sake and probably better practices I can use your suggestion to use `Object.assign` to create a new variable and delete the key and then use `setState`

However tha

[2016-11-24 08:03] qwales1 commented on #154
@joseburgosjr Thanks for posting the examples. I see what you mean now. To answer your first question: I don't think you are not wrong in your thinking at all. It should be setting the parent key to the new value and its not doing that. It is only setting the child keys **that exist** in the new value instead. Making it impossible to use `delete` to remove the key. Will definitely work on a fix fo

[2016-11-24 08:19] haluvibe opened #158 "base.auth().currentUser.displayName fails Jest tests"
I have the following dropdown component that lives the navbar and displays the displayName and photoURL.

[Dropdown with user displayName and photoURL as toggle button](https://github.com/haluvibe/React-Rebase-Firebase-boilerplate/blob/master/src/ui/presentational/Header/Dropdown.js)

and the following simple smoke test (using Jest, create react app)

[code]

[2016-11-24 08:33] qwales1 commented on #158
@haluvibe try using the `base.onAuth()` listener to get the current user instead. `base.auth().currentUser` can take some time to initialize.

[2016-11-24 08:47] haluvibe commented on #158
Is it ok for multiple components to use the base.onAuth() listener? For example, my App.js file has this listener already, but I'm trying to avoid passing props all the way down to the dropdown component.

[2016-11-24 09:04] qwales1 commented on #158
@haluvibe yeah that should be fine as long as you are unsubscribing to the listener.

[2016-11-24 09:22] haluvibe commented on #158
ok, great. I'll try that

[2016-11-24 09:22] #158 closed

[2016-11-24 15:06] haluvibe opened #159 "base.auth() listener works but fails Jest test"
[App.js code](https://github.com/haluvibe/React-Rebase-Firebase-boilerplate/blob/master/src/ui/containers/App.js)

So this definitely works, but it's throwing this error in Jest test

[code]

[2016-11-24 15:07] haluvibe commented on #159
obviously it's the browserHistory.push (replace creates the same error) - that's causing this, but how else can I setup a logout listener at the app.js level? (index or routes level would be fine too)

[2016-11-24 19:13] odigity commented on #148
@haluvibe I have not.  I'm specifically trying to avoid requiring a build process for my current project as it's intended to be an instructional demo for kids, and I want to keep things as simple as possible.

And really, it should be possible to load important JS libraries via script tag for quick hacking and experimentation without having to have a local dev env and tons of modules installed, at

[2016-11-24 20:15] qwales1 commented on #148
@odigity sorry for the delay responding to this. It is possible to expose Rebase as a global variable. Can you try this [branch](https://github.com/qwales1/re-base/tree/multiple-build-targets) and see if you run into any issues? The file to include is `/dist/Rebase.js` and you would need to include firebase before it. It will expose the lib as `Rebase`

[2016-11-26 05:05] odigity commented on #148
@qwales1 No need to apologize, 1 day is very prompt in GitHub land - and I went 16 days in between comments.  :)

I've already started building my app without rebase, which is not a bad thing, as this is my first app using either React or Firebase, and staying close to the framework and doing the wiring myself is a great learning opportunity.

But I'll try to circle back soon when I get a break an

[2016-11-26 07:29] joseburgosjr commented on #154
@qwales1 While writing a fresh barebones test to try to replicate I am also unable to reproduce my error, so I will dig further into my code to figure out why `null` does not seem to be syncing properly, at this point I want to say this part of my problem is not a rebase issue, and perhaps just my coding.

Thank you for the help thus far!

[2016-11-27 08:55] joseburgosjr commented on #154
@qwales1 So the plot thickens, I see you have an update for rebase (I think?) but I have not updated to that PR yet.

I had been unable to replicate the issue I stated originally, and I figured out why. When I was using `syncState` with just one object within the state, everything was working fine. It was once I introduced a second object within the state and called `syncState` on that object is w

[2016-11-27 16:41] qwales1 commented on #154
@joseburgosjr Yeah the PR solves the problem if a key is no longer present in the new state (if you delete key entirely ) . You can in this issue #9 where it was introduced and why. I am not sure about undoing that just yet, but wanted to propose it at least.

Thanks for the gist! I will try it out and let you know.

[2016-11-27 17:09] qwales1 commented on #154
@joseburgosjr What does the `Card` component look like in the Gist?

[2016-11-27 17:29] joseburgosjr commented on #154
@qwales1 My apologies, I updated the gist with the `Card` component.

[2016-11-27 18:07] qwales1 commented on #154
@joseburgosjr Awesome thanks. I see it. Will turn this into a failing test case. Something is definitely going on. Whichever `syncState` is called first isn't working correctly, but only when the second one is added.

[2016-11-28 01:56] qwales1 commented on #154
@joseburgosjr I believe #161 should at least solve the issue with setting keys to `null` . It guarantees the value is synced through firebase first before the React component state is changed. Can you try that out when you get a chance just to verify?

`npm install qwales1/re-base#syncState-fix`

[2016-11-29 02:22] joseburgosjr commented on #154
@qwales1 I can indeed confirm that [#161](https://github.com/tylermcginnis/re-base/pull/161) does indeed solve that issue with setting keys to `null`, thanks!

[2016-11-29 05:30] #154 closed

[2016-11-29 17:57] #156 closed

[2016-11-29 19:43] #159 closed

[2016-11-30 00:51] qwales1 commented on #155
Added in 2.4

[2016-11-30 00:51] #155 closed

[2016-11-30 03:18] scottfr commented on #156
Thank you, that update does the trick!

[2016-12-04 06:13] #72 closed

[2016-12-05 11:55] vlutton opened #164 "onFailure doesn't have "this" context"
I am trying to handle the case where a user doesn't have permissions, but I noticed that `this` is not being populated in onFailure, preventing me from being able to set the state.  Here is an example extending the todo example:
[code]
Here is the output in the console:
<img width="1435" alt="rebase-onfailure" src="https://cloud.githubusercontent.com/assets/1016008/20884181/5d036db2-baaf-11e6-9836

[2016-12-05 18:22] qwales1 commented on #164
@vlutton Thanks! I will get that fixed.

[2016-12-05 21:25] #164 closed

[2016-12-05 21:38] qwales1 commented on #164
@vlutton fixed in 2.5.1. Thanks again for the report

[2016-12-06 09:36] haluvibe opened #166 "Photo's from Google oAuth not loading consistently."
photo.jpg:1 GET https://lh6.googleusercontent.com/-x4anx7MhFDE/AAAAAAAAAAI/AAAAAAAADAc/ge-7UN55JaM/photo.jpg 403 ()

The image loads if I load this url in a new tab, but it regurlarly fails to load in my app. Any idea why?

The following is my container...

https://github.com/haluvibe/React-Rebase-Firebase-boilerplate/blob/master/src/ui/containers/Messages.js

[2016-12-12 19:39] mrsweaters commented on #58
Just because this wasn't very clear and the firebase docs can point you in the wrong direction:

[code]

[2016-12-13 17:17] haluvibe commented on #166
This is firebaseUserObject.photoURL btw

[2016-12-19 10:47] oscar-b opened #167 "Minimizing bundle size?"
Would it be possible to create a build which separates the different parts of re-base, so that it would be possible to only import parts related to firebase/database for instance, the same way the firebase package does? Currently, my build includes firebase/auth, firebase/storage and firebase/messaging (~160kb), none of which I use.

[2016-12-20 00:07] #141 closed

[2016-12-20 03:27] qwales1 commented on #167
@oscar-b yeah that is a great idea and I think it should be possible. I have some time this week so will definitely take a look.

[2016-12-20 12:29] oscar-b opened #168 "Flow types"
Began using Flow for type checking, would be nice with libdef for re-base :)

[2016-12-20 13:37] marcelmokos commented on #168
Do you want to work on it.

[2016-12-20 13:38] oscar-b commented on #168
Don't have the time right now I think, and I just started using Flow so I'm not sure where to start..

[2016-12-22 16:29] haluvibe opened #169 "_rebaseConfig2.default.remove is not a function"
base.remove(`notes/${index}`).then(() => {
        console.log('deleted')
      }).catch(error => {
        console.log(error)
      });

this block of code is resulting in _rebaseConfig2.default.remove is not a function  error

[2016-12-22 16:38] qwales1 commented on #169
@haluvibe what version of re-base is in your node_modules folder? `remove` was added in 2.3

[2016-12-22 16:54] #169 closed

[2016-12-22 16:54] haluvibe commented on #169
thx

[2016-12-23 11:36] haluvibe opened #170 "Question about syncState asArray:true vs false"
Can I use push keys with syncState? Is there any advantage to push keys vs the 0,1,2,3,4 etc keys of arrays.

[2016-12-23 11:37] haluvibe opened #171 "listenTo not retrieving data even though it passes rules simulator"
Yes I have the latest version now...

My question is.

My base.listenTo works when getting all my notes objects

[code]

but it fails when I change my firebase rules to:

[code]

This passes in the rules simulator but fails when I use the listenTo method. Why????

[2016-12-23 11:49] haluvibe commented on #171
my data looks like:

[code]

[2016-12-23 11:49] haluvibe commented on #171
So just one note of key  -KZfQTGW91TrhDdF_GSf

[2016-12-23 12:13] haluvibe commented on #171
Using the onFailure of listenTo I was able to console.log the error...

error Error: permission_denied at /authentication/notes: Client doesn't have permission to access the desired data.
    at G (database.js:230)
    at Object.eval [as G] (database.js:234)
    at eval (database.js:206)
    at Pg.g.wd (database.js:211)
    at Ce.wd (database.js:113)
    at cd.eval [as Xf] (database.js:111)
    at

[2016-12-23 12:13] haluvibe commented on #171
This is really weird, can someone please assist

[2016-12-23 12:14] haluvibe commented on #171
here is my listenTo code:

[code]

[2016-12-23 12:17] haluvibe commented on #171
I'm convinced this is a re-base issue and not a firebase rules issue as I consistently pass the rules simulator

[2016-12-23 12:22] Norfeldt commented on #170
Using unique keys (like timestamps) avoids conflicts.
I haven't tested this. But say multiple persons are pushing values by array both offline and online. Then they have conflict on index 3. Firebase or rebase might sort it out and just re-index the hole array in the time order it wa pushed. But you have been counting the index while pushing and are storing that index as a ref, then it point to th

[2016-12-23 12:32] haluvibe commented on #170
Very interesting, so I guess the real question is does re-base handle this with syncState? Or is it better to use listenTo and sync that with state, and then use base.push()?

[2016-12-23 12:48] haluvibe commented on #171
You can take a look at the code on the feature/listentoissue branch here:

https://github.com/haluvibe/React-Rebase-Firebase-boilerplate/blob/feature/listentoissue/src/ui/containers/NotesContainer.js

[2016-12-23 13:10] haluvibe commented on #171
my bad, nothing to do with re-base after all

[2016-12-23 13:10] #171 closed

[2016-12-23 19:19] qwales1 commented on #167
Update on this. I was able to get a build of just `firebase-database` working.
`React, React DOM, Rebase (full) -> 313 kB` Yikes
`React, React DOM, Rebase (database only) -> 146 kB` Better 🎉

Still need to figure out how to get the different services to interop with each other when they are required independently. I think the only way to do that is expose a global `rebase` namespace and then have

[2016-12-23 21:03] qwales1 commented on #170
@haluvibe good question. It does but admittedly not very well. It will pull the data from firebase and keep the keys if use use `asArray : true` and `keepKeys: true` in the options. Which works fine if you remove an item from the array. But if you want to push new data onto the array you need to provide/generate the key yourself which is an extra step. Personally if I have an array of data that I

[2016-12-25 12:03] oscar-b commented on #167
This sounds like a really good suggestion, I fully agree. The bundle size is more important than helper functions that force everyone to include dependencies which aren't used. The only other alternative I can think of would be to make changes which help tree shaking in webpack 2 to work its magic. Not sure how or if its possible though.

[2016-12-26 15:47] bdougie commented on #148
@odigity unpkg.com is a great tool to include npm packages in script tags. Include the following in a script perhaps. Let me know if this helps

https://unpkg.com/re-base@2.5.1/dist/bundle.js

[2016-12-27 22:34] milushov opened #172 "Error when firebase api throws permission_denied"
![](http://joxi.ru/48AnDXIjy7dJmO?d=1)

version `2.5.1`

[2016-12-27 23:01] qwales1 commented on #172
@milushov thanks for the report! should be fixed in 2.5.2

[2016-12-27 23:05] #172 closed

[2016-12-27 23:06] milushov commented on #172
oh, you so fast 😢 😺

https://github.com/milushov/re-base/commit/724281ab9e79d0008afcd6bae0db460c2850b624

[2016-12-27 23:09] milushov commented on #172
oh, nice ![](http://joxi.ru/48AnDXIjy7pJmO?d=1)

[2016-12-27 23:13] qwales1 commented on #172
@milushov oh dang so sorry! 😬 If you leave a little note that PR is coming I will hold off next time. I actually had it open on my computer when you opened that. Yup should be up there in npm land 🚀

[2016-12-28 07:50] haluvibe opened #174 "Dynamic queries for listenTo?"
Is there any way to dynamically change the query of a listenTo that I've added on componentWillMount()?

For example, I have this query...

[code]

And I want to able to change the this.state.queryCategory to generate a new list of notes filtered by their category

[2016-12-28 07:51] #170 closed

[2016-12-28 07:51] #166 closed

[2016-12-28 16:44] qwales1 commented on #174
@haluvibe there isn't a way to do that without unbinding and rebinding the listener, but here is an example of how you can do that. https://github.com/tylermcginnis/re-base/issues/121#issuecomment-245559481

[2017-01-08 02:03] dynamitesushi opened #175 "authHandler not working with base.authWithPassword() or base.auth()"
Hello,

I seem to be running into a problem where authHandler is not working with base.authWithPassword() or base.auth(). The sample code is below.

[code]

[2017-01-08 02:31] #175 closed

[2017-01-08 02:33] dynamitesushi commented on #175
This was due to username and password being set to null as default and I was expecting the handler to initiate when it didn't actually have any auth details to handle when I was checking the error dialog.

[2017-01-10 06:43] oscar-b commented on #167
@qwales1 Happy new year! Anything new here yet?

[2017-01-11 19:31] qwales1 commented on #167
@oscar-b Hey happy new year! Sorry I have been super busy lately so haven't made much progress on this. I am going to go through the code this week/weekend and make a new issue with the proposed changes for the next major version to get feedback.

[2017-01-11 22:54] oscar-b commented on #167
@qwales1 cool, I should be able to do some testing if you do that. 👍🏻

[2017-01-15 01:16] qwales1 commented on #167
@oscar-b I started a branch 3.x at https://github.com/qwales1/re-base/tree/3.x
Initially testing didn't reduce the bundle that much for me which is surprising but might be an issue with my webpack setup.

[2017-01-20 00:40] jakeols opened #176 "Getting data from multiple nodes"
Because in Firebase it's preferred to flatten your file structure, I find that I have data in a couple of different nodes. (ie. `/users` has a set of user keys with associated user information, and `/teams/teamid/` has a set of user keys that will be used to get the associated info from `/users/`.

In re-base, is there a standard way to retrieve first the keys from `/teams/teamid/` and then get th

[2017-01-20 03:18] qwales1 commented on #176
@jakeols I don't think there is a "standard" way to do that because it really depends on what data the component actually cares about rendering and how the data is structured in firebase. I know I prefer to flatten the data when possible, but sometimes I am fine with duplicating data for performance reasons. But that aside and given your example, I think what your component really cares about is t

[2017-01-27 20:43] oscar-b commented on #167
@qwales1 Sorry, I haven't been able to test this yet. On vacation and thought I'd have some free time. Will let you know as soon as I've tested it.

[2017-02-07 18:56] Norfeldt opened #177 "Best practice for multiple components syncing to different place in react native?"
I made this stack overflow quest

http://stackoverflow.com/questions/42093539/how-to-build-an-input-form-with-re-base-firebase-in-react-native

If anybody of you guys have some suggest it would be highly appreciated.

[2017-02-08 07:59] #177 closed

[2017-02-09 19:19] Norfeldt opened #178 "re-base not posting"
The might just be me who is doing it wroing...

I'm having some trouble getting re-base to work the way I want in React Native...

I want to be able to do the following:

    render() {
      ...
      <InputDBSync root={"foo/Hello word"} node="bar" />
      <InputDBSync root={"foo/Hello word"} node="baz" />
      ...
    }

IF the firebase instance do not exist the it should create(post) it

[2017-02-09 19:49] qwales1 commented on #178
@Norfeldt Just glancing at it I think this...

[code]
should be throwing an error. The data property needs to be an object and it looks like the docs don't make that clear. Try this...

[code]

I am using `update` here because `post` will replace the data at the `this.props.root` location in firebase.

[2017-02-14 18:53] Norfeldt commented on #178
I finally got the time to try it out and did the following

[code]

but it gave me this error

![screen shot 2017-02-14 at 19 46 47](https://cloud.githubusercontent.com/assets/678806/22943649/9dedb36a-f2ee-11e6-9219-a827ef5a1e7e.png)

Think that the error comes from this part of the code

[code]

[2017-02-15 04:11] milushov opened #179 "Add ability to have primitive data types in the state"
Hello, In my application state can set with a primitive type -- `Number`. And because re-base allows the state type only of `object` or `array` therefore I have to set `propTypes` with two types.

Binding the state:

[code]

In the internal component:

[code]

So when the value in the firebase is `null`, I have an empty object in the state and it's weird. What do you think about to add an ability

[2017-02-15 06:13] qwales1 commented on #179
@milushov Yeah that makes sense to me. Would there be any value in specifying the type? Like if the value was null in firebase and you had the `isPrimitive` set to `String` would it return  `new String`? Or would it always return null no matter the type? If so, maybe like `isNullable: true`?

[2017-02-15 08:39] milushov commented on #179
@qwales1 yes, `isNullable: true` is better :)

[2017-02-15 16:13] norbertbilbeny opened #181 "How to use authGetOAuthRedirectResult()?"
I used to do auth by simply calling `base.authWithOAuthRedirect('facebook');`

It was simple and beautiful.

I upgraded to 2.x and now I seem to need `authGetOAuthRedirectResult()` too and I'm confused with the example in the docs.

What do I change this to?

`requestFacebookLogin(){
    base.authWithOAuthRedirect('facebook');
    }`

Much appreciated.

[2017-02-15 22:00] Norfeldt commented on #178
I just realised that the reason why I throught it wasn't working was because I was using post somewhere else and then it overwrote.

Sorry about that

[2017-02-15 22:00] #178 closed

[2017-02-16 18:22] qwales1 commented on #181
@norbertbilbeny yeah firebase changed that in firebase 3.x. I am not 100% sure you are required to call `authGetOAuthRedirectResult()` to complete the flow, its kind of hard to tell from the firebase docs. Did you test with that bit of code you have there?

[2017-02-16 18:55] norbertbilbeny commented on #181
Thanks for writing.

I tested `requestFacebookLogin(){
    base.authWithOAuthRedirect('facebook');
    }` after having updated together both Firebase from 2.x to 3.x and Rebase from 1.x to 2.current.

It worked before but now logging in takes me to an empty site whose URL looks something like

instead of returning to the site having logged in, as it used to.

Going to the site manually after it ge

[2017-02-16 19:04] qwales1 commented on #181
@norbertbilbeny Is the domain enabled under the sign in method in the Firebase console?
![screen shot 2017-02-16 at 11 01 46 am](https://cloud.githubusercontent.com/assets/2364926/23036357/60233236-f437-11e6-9c7d-6456db956386.png)

[2017-02-16 20:46] norbertbilbeny commented on #181
Yes. It was before too.

On Re-base and Firebase update the page still loads fine after changing the code to connect to Firebase correspondingly but `requestFacebookLogin(){
    base.authWithOAuthRedirect('facebook');
    }`  alone stopped working.

[2017-02-17 03:55] qwales1 commented on #181
@norbertbilbeny so it does redirect to facebook and then after signing in on facebook the redirect back is broken? I am trying to reproduce and haven't had any luck. It does work without the `authGetOAuthRedirectResult()` though. You just cant catch any of the possible errors. They are listed [here](https://firebase.google.com/docs/reference/js/firebase.auth.Auth#getRedirectResult)

[2017-02-17 03:59] qwales1 commented on #181
@norbertbilbeny I think something changed with the callback you need to add to the facebook app's settings. In the old firebase docs it looked like `https://auth.firebase.com/v2/<YOUR-FIREBASE-APP>/auth/facebook/callback` but now its looks like `https://<your authorized firebase domain from the firebase console>/__/auth/handler`

[2017-02-17 18:08] #179 closed

[2017-02-21 22:46] norbertbilbeny commented on #181
Apologies for the delay and thank you for your help.

Yes, there is redirection to

but the page doesn't load and the console reads

What do you mean when you say it does work without the `authGetOAuthRedirectResult()` ? Do you mean re-base generally works without it (and therefore it's hard to say what's wrong in this particular case)?

Is the callback you mention required? I had and still have n

[2017-02-21 23:14] qwales1 commented on #181
@norbertbilbeny Ah yeah that isn't a valid URL its missing the top level domain part `firebaseapp.com`

If you go to the Firebase console -> Authentication -> Sign In Methods. There is a section for Facebook. That should be enabled and when you click on it it should let you copy the redirect URI
which should be `https://project5626648577728984289.firebaseapp.com/__/auth/handler`

If its missing th

[2017-02-22 06:00] yaviner opened #182 "Authenticating with pre-authenticated user data: "Invalid Idp Response""
Hi,

I'm using re-base to develop a Chrome extension. Initial set up was seamless, but I'm hitting a wall with authentication. I've set it up so users should be directed to a separate (hosted) web page that uses FirebaseUI to authenticate with Google or Email. The code for this is a lightly modified version of the code found here: https://firebase.googleblog.com/2017/02/auth-flows-with-firebase-ui

[2017-02-22 06:20] qwales1 commented on #182
@yaviner When you initialized rebase did you give the app a name like 'myApp' below?
[code]

[2017-02-22 06:21] yaviner commented on #182
@qwales1 Yes I did, though only within the React app. The standalone hosted firebase app for initial auth lets firebase use [DEFAULT].

[2017-02-22 06:55] qwales1 commented on #182
@yaviner That is why base.auth() was complaining about not being initialized. You'd need to pass the initialized app into base.auth like

[code]
otherwise it looks for the [DEFAULT] app which hasn't been initialized.

I wonder if the mismatch is names is causing the `access_token is invalid` issue. Did you try just using [DEFAULT] in the react app?

[2017-02-22 06:56] yaviner commented on #182
I think I figured it out. It's late -- I'm going to get some sleep and look at this again tomorrow -- but the gist of it is this:

The extension was receiving the user object from `firebase.auth().onAuthStateChanged` - this user object contains useful info about the logged in user but seems more or less useless with regard to authentication. What we really want is actually the credentials object t

[2017-02-23 01:55] yaviner commented on #182
Small update: passing `base.initializedApp` into `base.auth()` worked perfectly! That said, the benefits of doing so instead of using `base.initializedApp.auth()` are unclear to me.

Closing this issue as I was able to resolve the rest on my end. Thanks!

[2017-02-23 01:55] #182 closed

[2017-02-23 02:03] qwales1 commented on #182
@yaviner Nice! Glad its working. Thanks for the report. I will definitely look at that because `base.initializedApp.auth()` and `base.auth(base.initializedApp)`should be the same thing.

[2017-02-23 02:08] yaviner commented on #182
@qwales1 Clarification - they worked exactly the same for me. I just switched over to `base.auth(base.initializedApp)` because it seems more idiomatic to this library.

[2017-02-23 02:25] qwales1 commented on #182
@yaviner Ah! Thanks for clarifying. I misread that.

[2017-02-23 15:35] norbertbilbeny commented on #181
You basically found the problem.

I added the URL to Facebook's settings and that made me realize that `firebaseapp.com` was also missing from the initialization code, or whatever it's called, at `Rebase.createClass `. My mistake, of course. Then I changed the new numbered projectId to the old, string version, in my case `wfolly.firebaseapp.com`, and added that too to Facebook's settings. I'm not

[2017-02-23 15:35] #181 closed

[2017-03-05 10:44] euan-gwd opened #183 "Question: integrate with firebaseui-web and create-react-app <react newbie>"
First of All, thank you for creating this library.
How do i integrate the FirebaseUI for Web — Auth https://github.com/firebase/firebaseui-web
with this library please. I have a working prototype messaging app but now looking to do firebase authentication. Can someone please point me in the right direction, Thanks

p.s. if it helps i am using react-router v3.02 for routing.

[2017-03-06 01:56] Velua opened #184 "Accessing state after syncState"
I'm just tying to play with the state after syncState has completed.

[code]
When the wtf method is called this.state.bars is still just an empty array set from this.state = in my constructor method, it's later on in the render process this.state.bars is then populated but by then it's too late! I'd like to make another REST API called based off the data in the wtf method.

Can anyone let me know

[2017-03-06 02:19] qwales1 commented on #183
@euan-gwd You could either initialize you firebase app through re-base first and then in their examples you would swap `firebase.auth` with `base.auth`. Or you could pass the initialized re-base app into calls to `firebase.auth()`

Using their example...

[code]
**OR**
[code]

With react-router i usually add an `onEnter` callback that makes sure the user is logged in before allowing access to the

[2017-03-06 02:56] qwales1 commented on #184
@Velua first thing that jumps out is that it should be

[code]

but I think using `listenTo` would be better in your case. The `then` callback of `syncState` is more for setting a loading flag to false. The value of `this.state.bars` is not guaranteed to be set with the value from firebase when `then` is called. It's going to be set, but its up to React at that point when that actually happens so

[2017-03-06 04:29] Velua commented on #184
@qwales1 Mate you're a bloody legend, thanks so much!

[2017-03-06 04:29] #184 closed

[2017-03-06 07:00] euan-gwd commented on #183
@qwales1 Great Thanks Chris, that seems to have done the trick, thanks again.

[2017-03-06 07:00] #183 closed

[2017-03-10 02:26] damaera opened #185 "Adding firebase cloud functions ?"
https://firebase.google.com/docs/functions/

Cloud Functions is a hosted, private, and scalable Node.js environment where you can run JavaScript code. Firebase SDK for Cloud Functions integrates the Firebase platform by letting you write code that responds to events and invokes functionality exposed by other Firebase features

[2017-03-13 08:30] Norfeldt opened #186 "Question: Fingerprint authentication?"
I'm trying to use re-base with React Native (going fine so far) - learning firebase along the way.

Is it possible to authenticate a user with both e-mail+password OR only fingerprint?

Was thinking to locally store a hash of the fingerprint and then use that to lookup locally the e-mail and a hash of the password (that can be used to login). Would that be insecure?

[2017-03-13 17:52] qwales1 commented on #185
@damaera Are you asking about using re-base in your cloud functions?

[2017-03-13 18:50] qwales1 commented on #186
@Norfeldt I think maybe you would need to have them log in with email and password first and then associate the JWT from the `firebase.User` object you get back with the fingerprint using the device keychain. Or associate the email and password itself using the device keychain (not sure what the equivalent of IOS keychain is on android). I would definitely try and stay within what the fingerprint

[2017-03-18 11:31] oscar-b commented on #185
There's no point using re-base in Cloud Functions.

[2017-03-18 13:35] oscar-b commented on #167
Chunk with Firebase and re-base, on 2.x (98,44Kb gzipped):

![image](https://cloud.githubusercontent.com/assets/85102/24071882/c2a5a8dc-0bdc-11e7-9d9f-5559e84b6875.png)

Chunks with re-base 3.x (48,3kB gzipped, Firebase 45,11KB + re-base 3,19kB)
![image](https://cloud.githubusercontent.com/assets/85102/24072495/0d5b69c4-0be8-11e7-9235-1e3de196b6f1.png)
![image](https://cloud.githubusercontent.com/

[2017-03-20 12:21] camslaz opened #187 "When posting/pushing new data all keys are replaced with incrementing integers"
If I push or post new message data to firebase all of my keys are replaced with incrementing integers.

`keepKeys` persists existing keys when updating/replacing data but doesn't work for posting new data.

Is there are way to avoid re-base using sequential incrementing integers and instead use the auto generated keys (eg -KcFxMw8ULqWNc5Oq-ZY)?

[2017-03-20 16:58] qwales1 commented on #187
@camslaz can you post the db structure you are trying to achieve and the data your are sending via push or post?

[2017-03-21 07:59] oscar-b commented on #167
@qwales1 Did you get your setup right as well, so you're seeing the same? Here's how I did it.

[code]

[2017-03-22 00:14] camslaz commented on #187
@qwales1 this is the data structure I'm attempting to achieve.

![firebase console](https://cloud.githubusercontent.com/assets/23691610/24176290/c4de2536-0ee6-11e7-8e24-a0b75d9edae7.png)

This is how it's mutated after I push or post.

![firebase console 1](https://cloud.githubusercontent.com/assets/23691610/24176346/23e23a04-0ee7-11e7-9a56-315e4e38e5e7.png)

`base.push(this.props.fbdbEndPoint, {`

[2017-03-22 00:48] qwales1 commented on #187
@camslaz can you just push the new message instead of concatenating with the existing messages or have the other messages changed since they were last saved to firebase? If the other messages haven't changed, dropping the `this.props.messages.concat` and only including the new message should do the trick.

[2017-03-22 01:06] qwales1 commented on #167
@oscar-b I will definitely try it out tonight. And then try and find time this week to write up the changes and upgrade instructions for the PR.

[2017-03-22 01:07] camslaz commented on #187
@qwales1 Perfect. Thanks.

[2017-03-22 01:07] #187 closed

[2017-03-22 08:21] avinash8526 opened #188 "Is there a way to load data in chunks from firebase"
This is mostly a feature request. My firebase state contains huge listing data. When my app opens it takes 1 sec to populate data on screen.

I was wondering, is there a way to load data in chunks ?

[2017-03-22 10:11] Norfeldt opened #189 "fetch always returns an empty JSON object"
This is my code:

[code]

Even thought that the node (`this.props.dir`) in exist FB, the fetch returns an empty object like if I was fetching `"foo"` (non-existing node in the FB). The `DB.update` works exactly as expected...

[2017-03-22 15:16] qwales1 commented on #189
@Norfeldt does the `this.props.dir` have a value when you are fetching?

[2017-03-22 19:08] Norfeldt commented on #189
@qwales1 Yes it does have the value when fetching.

Firebase looks like this when running the code

![fetch issue](https://cloud.githubusercontent.com/assets/678806/24216041/0ce14012-0f3b-11e7-8e84-d440197bdc8d.gif)

[2017-03-23 01:05] qwales1 commented on #188
@avinash8526 I need to do the same thing sometime in the next couple weeks. From looking around I think the way to do that is use the REST api  with the shallow parameter to get a list of all the keys in the list. Then could do a series of fetchs using the query parameters `startAt` and `endAt` to get all the data. I may just forget the REST api and only grab a chunk of the data (same endAt query

[2017-03-23 01:10] qwales1 commented on #189
@Norfeldt yeah I was thinking the same thing about the characters but it definitely works. `this.props.dir` is Drafts?

[2017-03-23 05:52] Norfeldt commented on #189
`this.props.dir` is "Drafts/2017-03-22T19:57:09+01:00"

[2017-03-23 06:13] avinash8526 commented on #188
@qwales1 My app is serverless, I may put a nodejs backend fir the REST api , but I want to go serverless hence REST api may not work for me.  But the query option will definitely work. I guess first synchstate with `limit` param , then unbind it. Now use another synchstate with complete synch.

Thanks for your suggestion.

[2017-03-23 07:59] qwales1 commented on #188
@avinash8526 ah yeah I didn't realize you needed a backend for the REST API. Thought you could just use the authenticated users token, but looks like it needs to be generated from the Service Account. I'll probably go the same route as you.

[2017-03-23 08:21] qwales1 commented on #189
@Norfeldt I set up the same structure in a test DB and was able to fetch it. Is there another place (componentWillMount ?) that is setting that to an empty value? A call to this.syncDB maybe?

[2017-03-23 16:18] Norfeldt commented on #189
@qwales1 first, thank you very much for helping me out.

The code is like this:

[code]

[2017-03-23 16:31] qwales1 commented on #189
@Norfeldt i think this ...

[code]
should be

[code]
but would be surprised if that is the cause

[2017-03-23 17:26] Norfeldt commented on #189
@qwales1 that's not the issue.. It always returning an empty array.

![fetch issue](https://cloud.githubusercontent.com/assets/678806/24261076/163b04ca-0ff6-11e7-9a78-c5e308362d4a.gif)

When you tried, did you also do the special characters?

[2017-03-23 18:10] qwales1 commented on #189
@Norfeldt yeah I used the exact structure `Drafts/2017-03-22T19:57:09+01:00`

![screen shot 2017-03-23 at 10 47 16 am](https://cloud.githubusercontent.com/assets/2364926/24262277/d0c8706a-0fb6-11e7-8455-b244e188c4eb.png)

can you try this in componentDidMount?

[code]

[2017-03-23 18:45] Norfeldt commented on #189
It destroy my firebase to become `null`

![screen shot 2017-03-23 at 19 43 57](https://cloud.githubusercontent.com/assets/678806/24264558/1b8c6f44-1001-11e7-9770-dd4d66e85bf7.png)

[2017-03-23 18:54] qwales1 commented on #189
@Norfeldt ah dang sorry it should be
[code]

[2017-03-23 20:09] qwales1 commented on #189
@Norfeldt My theory is that something else is setting your database to null. And because `update` didn't run because of the error you can see that the last state of the database is null when componentDidMount runs. Do you use `post` anywhere? The only two methods in re-base I can think of that can set a location to null are `post` (by passing undefined or null as the value) and `remove`

[2017-03-23 20:43] Norfeldt commented on #189
@qwales1 I updated the code and not it doesn't set firebase to `null`, but it does almost the same as before. It just receives `null` instead of an empty object `{ }`..

The console writes the following:

I don`t use `post` anywhere in this component..

[2017-03-23 21:44] qwales1 commented on #189
@Norfeldt I think its still getting set to null. The update is now happening so you see the result of that update in Firebase. But if you remove the update code I think you'll see that its actually null. The null you are now seeing (instead of the empty object that re-base) is directly from firebase.

This is what I think happens based on that screen capture (thanks for that by the way super helpf

[2017-03-24 15:56] avinash8526 commented on #188
With new Firebase API , the auth is completely changed , the JWT tokens returned by facebook/twitter/google is not working with `authwithcustomtoken` , after banging my head got to know that firebase 3 maintains the session for you, but one need to look into core code to understand it. The documentation is lagging.

[2017-03-25 14:13] Norfeldt commented on #189
You are absolutely right! I was posting in another component... Thank you for helping me figuring it out.

That the danger of using re-base like some sort of redux...

![image](https://cloud.githubusercontent.com/assets/678806/24322882/bdd9d676-116c-11e7-93d6-48d0ab577a78.png)

Is there a way to step through my component code like MATLAB (https://youtu.be/PdNY9n8lV1Y?t=2m49s) without digging in th

[2017-03-25 23:51] oscar-b commented on #167
@qwales1 Had the time to test it yet? I had to create a common chunk for `firebase/app` and `firebase/database`, otherwise I get a separata chunk for `firebase/app`. It is required in database.js, but not accessible as far as I can see.

[code]
and then

[code]

Now it loads `firebase/app` and `firebase/database` in one chunk of ~135kb (~46kb gzipped) and re-base in another chunk of ~22kb (3kb gzi

[2017-03-27 03:17] qwales1 commented on #167
@oscar-b Yeah I see that. That is strange. From the looks of the webpack bundle analyzer it was only included once for me, but I might be looking at it wrong. If I just included `firebase/database`  it did pull in `firebase/app` though, but couldn't figure out how to access it either. Do you know what the significance (if any) of the darker colors are in the bundle analyzer? I can't find any refer

[2017-03-27 03:48] qwales1 commented on #189
@Norfeldt [React Native debugging]( https://facebook.github.io/react-native/releases/0.23/docs/debugging.html)

If you want to actually call the function right then use ().

[code]
 In this case you are passing it as the success handler of the Promise returned by `.then`  That function will get called for you when the Promise resolves ( only on success ).

[2017-03-27 03:48] #189 closed

[2017-03-27 03:48] #185 closed

[2017-03-27 07:14] oscar-b commented on #167
@qwales1 Exactly, app.js is required in database.js, but not accessible for initializing the app. Strange that you don't see it included twice, but using CommonsChunk work, it seems.

I don't think the colours mean anything, just visual help to separate parts and chunks.

[2017-03-28 20:57] kevinaltschuler commented on #80
does re-base still not provide onDisconnect?

[2017-03-28 21:39] kevinaltschuler opened #193 "How to use onDisconnect?"
this is a pretty critical feature to track presence, still not implemented?

[2017-03-29 04:38] qwales1 commented on #193
@kevinaltschuler there is nothing specific in re-base for this, but you can access the full database service through `base.database` Using a modified example from this [SO post](http://stackoverflow.com/questions/15982215/firebase-count-online-users).

[code]

[2017-03-29 14:15] adriantombu opened #194 "Inexistent endpoint could return an error"
I don't know if it's intentional, but I was expecting an error when trying to reach an inexistent endpoint with `fetch()`. Instead, I receive an empty object `{}`.

I tried to look up in the doc, but I don't think there's anything regarding this specific case.

As an exemple, `users/user-1` does not exists in my database, but I get a `{}` when I fetch it. I wonder if an error would be a better ide

[2017-03-29 15:40] qwales1 commented on #194
@adriantombu That is mirroring the behavior of firebase itself except that re-base, by default, will return the empty object instead of null. Whether or not that endpoint being empty is an error is really specific to your app. An example being a situation where a endpoint will contain messages from a conversation. When you first listen to that endpoint there are no messages, but you want to keep l

[2017-03-29 15:55] adriantombu commented on #194
Damn, I'm starting with Firebase, but thanks to you I understand why this is the default behavior now :)

Cheers ! (and a 🍺  for you)

[2017-03-29 15:55] #194 closed

[2017-04-01 11:41] denezra opened #196 "createUser passing null and authData."
Just want to ask why the createUser need to pass null and authData.

Thank you for answering my question,
Den

[2017-04-02 03:09] qwales1 commented on #196
@denezra you are referring to [this line](https://github.com/tylermcginnis/re-base/blob/master/src/lib/user/createUser.js#L4)? in firebase 3.x you are automatically logged in as that user when you create it. So the authData in the callback is the newly created user (has new user id etc.)

[2017-04-02 04:26] denezra commented on #196
I see but how about on this instance

import { firebaseAuth } from '../config/constants'

export function auth (email, pw) {
  return firebaseAuth.createUser({
    email: email,
    password: pw
  }, saveUser)
}

export function saveUser (data, user) {
  return firebaseAuth.post(`users/${user.uid}/info`, {
    data: {name: user.email, uid: user.uid},
    then(err){

    }
  });
}

Every time I cre

[2017-04-02 04:42] qwales1 commented on #196
@denezra ah yes that makes sense. In that case `data` will be null if the user was created successfully (there was no error). If there was an error from firebase when you tried to create the user then `data` will be the error and will contain some information about why it failed (user already exists, etc).  Are you familiar with "error first" callbacks in nodejs? This is the same idea here. Then y

[2017-04-02 09:40] denezra commented on #196
Nice thanks for the clarification for this.

[2017-04-03 21:36] oscar-b opened #197 "syncState with function"
From the React docs: https://facebook.github.io/react/docs/state-and-lifecycle.html#state-updates-may-be-asynchronous

This isn't supported by re-base when there's a sync binding active, right? Would be nice, but maybe not needed? Should at least print something to the console since the call seems to be discarded.

[2017-04-03 22:04] qwales1 commented on #197
@oscar-b currently no I don't think that works, but after a quick glance at that I don't see why it couldn't. That function just returns an object right? I am also not sure about the setState callback being called either with syncState ...

[code]

Should add some tests around that for sure.

[2017-04-04 17:23] oscar-b commented on #197
Yeah you should just return an object, but you get access to current state (and props). It's the recommended way of updating state when you need to base the next state on something in current state (due to async updates).

[2017-04-07 07:38] #196 closed

[2017-04-09 13:46] avinash8526 opened #200 "Need Promise or callback in syncState"
Hi,

Sometimes firebase throws silent warning ex: permission_denied when user does `base.syncState`, I was wondering if we can have promise or callback so that we can ask user to login.

Regards,
Avinash

[2017-04-09 19:07] qwales1 commented on #200
@avinash8526 there is an `onFailure` callback that will handle permission_denied errors

[2017-04-10 04:18] avinash8526 commented on #200
@qwales1 Thanks, so is this correct way of doing it, can u verify the following code snippet ?
`base.synchState('myurl',{
context:this,state:'someState},
onFailure(err){if(err}{alert(err.message},
then(){alert('Success'})`

[2017-04-11 02:31] qwales1 commented on #200
@avinash8526 it would be in the options you pass to `syncState`

[code]

[2017-04-12 10:58] oscar-b commented on #167
@qwales1 I'm using this in prod now. The only issue I've had was that when moving between two components, each using Firebase, there was a duplicate app name ([DEFAULT]) since the first one didn't unmount it fast enough. I solved it by using explicit names for the apps, might be an idea to do that in examples perhaps? This didn't happen all the time, I guess only on slower connections.

[2017-04-20 07:46] IljaDaderko opened #202 "Allow usage via user defined firebase object"
I believe at present re-base uses it's own firebase version? Issue came up when I wanted to use it with library named `react-native-firebase` which allows usage of things like analytics / crash reports etc... in react-native project. There is no way to use re-base with it's own firebase object, see https://github.com/invertase/react-native-firebase/issues/61 for more details.

Thinking about this

[2017-04-20 09:16] qwales1 commented on #202
@IljaDaderko yeah it definitely uses the web SDK but with the changes in #198 you would bring your own initialized database service. Initialized like this...

[code]
so I have no idea if this works like this but if react-native-firebase's `firebase.database()` has the same API as the web SDK's firebase.database() ... it might just work? That is probably wishful thinking, but would be pretty awesom

[2017-04-20 09:18] IljaDaderko commented on #202
@qwales1 yep, it should, guys are very keen on mirroring it exactly like js sdk one :) Thank you for this update, didn't realise these changes were in the pipeline. Any eta on the merge of this by any chance?

[2017-04-20 09:18] #202 closed

[2017-04-20 09:40] qwales1 commented on #202
@IljaDaderko I am hoping this weekend I can get it all cleaned up. Its pretty close.

[2017-04-27 06:10] qwales1 commented on #197
@oscar-b Got this working for 3.x.  Both setState as a function and making sure setState callback is called if its supplied. FYI the order of operations of syncState changes with this. normally syncState will sync with firebase first before calling setState on the component, but with setState as a function it needs to call setState on the component first and then syncs with firebase after the comp

[2017-04-29 16:28] oscar-b commented on #197
@qwales1 Hm didn't know that about syncState, but that should improve UI responsiveness though as well?

[2017-05-09 05:45] qwales1 commented on #202
@IljaDaderko it will work with 3.x . I haven't tested everything but was playing around with `syncState` and it was working fine.

[code]

[2017-05-09 05:56] #200 closed

[2017-05-09 05:59] #186 closed

[2017-05-09 06:07] #188 closed

[2017-05-09 11:28] IljaDaderko commented on #202
@qwales1 Thats how I imagined init as well 👍 Haven't tested as well, but will definitely try it out once v3 is out

[2017-05-09 12:36] daviddelusenet opened #203 "How to access nested state data?"
Hi all,

I'm building a React application. This is how my state is setup:

[code]
For now I'm only saving my `games` array in my Firebase database. This is the code I've in my `componentWillMount` function:

[code]
When logging `this.state` I can see that there's a new array added, called `statistics.games`. How can I access the nested data of my state?

[2017-05-09 18:09] qwales1 commented on #203
@daviddelusenet there is a PR for this (#192)  that is coming that will let you sync to nested state property with `syncState`  but currently it doesn't work like that. You could use `listenTo` if you wanted to set nested state now.

[code]

[2017-05-10 06:31] daviddelusenet commented on #203
Too bad, will change my data structure for now.

[2017-05-10 08:24] daviddelusenet commented on #197
I really need this functionality.

[2017-05-10 17:37] nybblr commented on #197
Just ran into this — couldn't figure out why my `setState` calls stopped running once I pulled in Re-base.

Until 3.x lands, might this be a good caveat to add to the README?

[2017-05-10 21:52] qwales1 commented on #197
@nybblr that would be great thanks

[2017-05-11 16:14] TheHandsomeCoder opened #206 "Typescript definitions clarification"
I'm writing a definitions file for re-base and I just wanted to clarify something about the options objects that several of the functions take.

In the `fetch` documentation the options object should have a required then paramater that is a callback, however in the next example down there is a promise implementation that has no then function and executes like a standard promise.

Is this just a do

[2017-05-11 17:18] qwales1 commented on #206
@TheHandsomeCoder yeah that is wrong its not required. It used to be in the past and missed updating it.

[2017-05-11 18:14] TheHandsomeCoder commented on #206
No worries, I'll keep an eye out for anything else and I'll post it here I guess.

Also would it be better to submit the types here or to definitely typed?

[2017-05-11 19:27] qwales1 commented on #206
@TheHandsomeCoder yeah that would be great. working on cleaning up the docs for 3.x so that would be awesome if you see any other mistakes. That is a good question about location of the typings. This is an area I am not familiar with so any guidance would be greatly appreciated.

As a typescript user which do you prefer? If they are here then I think there needs to be tests that would fail if the

[2017-05-11 19:31] qwales1 commented on #206
#136 is related

[2017-05-11 19:39] TheHandsomeCoder commented on #206
So the [publishing section](http://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html) on Typescript lists two ways it can go, first is to self host and reference it in the `types`/`typings` property in `package.json` the other is to pusbish to the `@types` org on npm.

I'm currently writing then types under [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped)

[2017-05-16 18:39] qwales1 commented on #203
closed via #192

[2017-05-16 18:39] #203 closed

[2017-05-20 05:15] PAK90 opened #208 "Question; use update() or transactions?"
I'm currently using react-fire, but I want to move away from mixins and I'm looking at re-base. I currently have a bunch of `transaction` calls, while re-base has `update()`. [The docs say](https://firebase.google.com/docs/database/web/read-and-write#save_data_as_transactions) to use transactions for updating existing values, and I'd like to keep that reliability. So, does `update()` have the same

[2017-05-20 07:25] qwales1 commented on #167
Closed via #198

[2017-05-20 07:25] #167 closed

[2017-05-20 07:25] qwales1 commented on #197
Closed via #198

[2017-05-20 07:25] #197 closed

[2017-05-22 07:20] PAK90 opened #209 "Using a rebase instance across multiple components?"
I have a root component (`app`), which should initialize firebase and rebase and bind a data array to its own internal state. So far so good. But it needs to render other components, which also need to know about the item array, so I pass it down as a prop. Since those child components need to read/modify my Firebase db, I also pass the rebase instance as a prop since I've found re-initializing it

[2017-05-22 17:34] qwales1 commented on #208
@PAK90 update in re-base doesn't have the same reliability as transaction. For re-base 2.x the database service is available to access off the re-base instance. So

[code]

In re-base 3.x you could use the `initializedApp` property to access the underlying database service or just use the firebase database service directly.

[code]

Would definitely be open to adding a `transaction`  helper to re-

[2017-05-22 18:08] qwales1 commented on #209
@PAK90 I am not really sure why the `setState` warnings are happening in that component. Which version of re-base are you using 2.x or 3.x? If 2.x it sounds like there are listeners that aren't getting cleaned up with `removeBinding`. When you are using re-base in the child components is it getting the data and setting the state correctly, but is also throwing the warning? Or is it not getting the

[2017-05-22 20:50] PAK90 commented on #209
I'm using 3.0.0. I tried it again just now, and I think the setState warnings happen whenever I change the items in Firebase, which the parent app binds to their state, which gets updated as the `this.props.items` prop in the `Home` component. However this seems to re-mount my `Home` component which also resets all my states (I have a checkbox bound to state in my UI, if I check it to the non-defa

[2017-06-01 04:25] jeffalgera opened #211 "npm install issue"
npm WARN sass-loader@6.0.5 requires a peer of webpack@^2.0.0 but none was installed.

[2017-06-01 04:26] #211 closed

[2017-06-01 04:26] jeffalgera commented on #211
sorry :)

[2017-06-01 06:24] T-dex opened #212 "Rebase.createClass failed on verison 3.0.1"
REBASE: Rebase.createClass failed. Expected an initialized firebase database object. s displayed when I attempt to run rebase on verison ^3. When I load ^2.7 React.createClass Loads

[2017-06-01 16:42] qwales1 commented on #212
@T-dex The way to initialize re-base changed in 3.0 and higher. See the [upgrade guide](https://github.com/tylermcginnis/re-base#upgrading-to-re-base-3x-from-2x) for what you would need to change.

[2017-06-01 16:42] #212 closed

[2017-06-02 18:39] param240 opened #213 "Couldn't add pushkey as an id while adding into firebase"
My want to add this to firebase

pushKey: {
    id: pushKey,
    name: "something"
}

using only firebase i can achieve this by doing the following
pushkey = firebase.database().ref('').push().key
then pushing the pushKey as id.

Do you support this? if so how can I achieve this using re-base, please help me out

[2017-06-02 19:18] qwales1 commented on #213
@param240 I wouldn't say it supports it because you can't do that with just `base.push` alone but you could either do this:

[code]

or if the property doesn't need to be called  `id` specifically and doesn't actually need to be stored in firebase that way, you could only push the `name` and then if you use `asArray` option on whatever listener you are using to pull the data out, you'll get back t

[2017-06-04 08:41] asangadev commented on #93
Hi all, I want to keep below rules in Firebase.
{
  "rules": {
    ".read": "auth != null",
    ".write": "auth != null"
  }
}

How I implement the "Service Account" with this module? Please help.

[2017-06-05 07:22] callil commented on #193
I had this working before in re-base 2.x but since upgrading to 3.x I get type errors saying `helpers_base__.a.database is not a function` when I use code that is essentially identical to above.

I haven't been able to solve the issue yet.

[2017-06-05 13:12] Viral-Inc opened #214 "[Violation] Avoid using document.write(). 'database.js:159'"
Hiya, I'm using only re-base (for any/all database connections) so I'm wondering if this console warning has something to do with re-base?

The warning started appearing a day or two ago. (I've been using re-base for a couple weeks.)

[2017-06-05 15:43] qwales1 commented on #193
@callil For 3.x the underlying database service can be accessed at `base.initializedApp.database`

So the above example could look something like this.

[code]

[2017-06-05 16:15] qwales1 commented on #214
@Viral-Inc It's not coming from re-base directly but probably from the firebase sdk itself.  The sdk does use `document.write` when it uses long polling instead of a websocket connection it looks like. This is probably it right [here](https://github.com/firebase/firebase-js-sdk/blob/c054dab68ce4d30af7fcb0bb850f1a064ba023c5/src/database/js-client/realtime/BrowserPollConnection.js#L385) .  I wouldn'

[2017-06-05 18:05] Viral-Inc commented on #214
@qwales1 righto, ignore it I will, thank you :]

[2017-06-05 18:05] #214 closed

[2017-06-08 02:04] LoganArnett opened #215 "Child Added"
I know there was #129 but with the most recent update to Re-Base I cannot seem to find where this option is exposed. I'm trying to listen to new items being pushed into an array. Before I was able to do something like this:

[code]

[2017-06-08 02:24] qwales1 commented on #215
@LoganArnett Sorry its not in the docs. I need to update that.

[code]

[2017-06-13 17:18] wguttmn opened #216 "Promise suport for bindToState()"
Is there a particular reason why this does not exist ?

[2017-06-13 17:52] qwales1 commented on #216
@wguttmn It can't use a Promise because `bindToState` sets up a listener that will provide any number of values over time. A Promise can only resolve once with one value. If you check out the firebase docs for [ `database.Reference.on`](https://firebase.google.com/docs/reference/js/firebase.database.Reference#on), which is what `bindToState` uses under the hood, it does not return a Promise like s

[2017-06-14 06:40] wguttmn commented on #216
Makes sense. Thanks for taking the time.

[2017-06-14 06:40] #216 closed

[2017-06-14 11:10] wguttmn opened #217 "Problem with bindToState() and missing permissions"
Within a React app, I have the following code:

[code]

If the case where the user trying to run this query does not have sufficient privileges the code in question does not have access to this as per:

[code]

Any idea why ?

[2017-06-14 15:31] qwales1 commented on #217
@wguttmn Thanks for the report. That is a bug. onFailure isn't being called in the right context. Fix coming soon.

[2017-06-14 16:46] #217 closed

[2017-06-21 03:41] #215 closed

[2017-06-28 18:46] itwasmattgregg opened #219 "Question: syncState"
So I'm new to using re-base. Have used emberfire in the past but I'm having a hard time understanding how re-base works with firebase by the examples shown in this repo. I see you're using syncState to bind to an endpoint in firebase and storing it in the state as an array but this appears to mess with the firebase keys that are pretty crucial to how firebase works. On the toDo app for example all

[2017-06-28 19:12] qwales1 commented on #219
@itwasmattgregg there is an option with syncState `keepKeys` that will keep the firebase keys intact when using `asArray` and there is a `remove` method see [here](https://github.com/tylermcginnis/re-base#removeendpoint-callback).

In regards to this question, do you mean you want to map over the data when it comes back from firebase before actually setting the state of the component?

[2017-06-28 22:57] unusualsuspect opened #220 "Firebase App named '[DEFAULT]' already exists (app/duplicate-app)."
I'm trying to push some data to my DB using the `'firebase'` & `'re-base'` packages. Once I can successfully do that I'd like to utilize the syncState method. However, I continue to get the following error:

`"Firebase: Firebase App named '[DEFAULT]' already exists (app/duplicate-app)."`

Here are the two files - base.js is the only file that I'm calling `initializeApp` in.

[code]
Versions of the

[2017-06-28 23:10] qwales1 commented on #220
@unusualsuspect re-base 2.6 has a different API to initialize the library. See the [2.x branch docs](https://github.com/tylermcginnis/re-base/tree/2.x#createclassfirebaseconfig-name).

//base.js

[code]

[code]

[2017-06-29 00:14] unusualsuspect commented on #220
Perfect - thank you I apologize I missed that!

[2017-06-29 00:14] #220 closed

[2017-06-29 02:56] motlin opened #221 "asString option broken in re-base 3.x"
This code broke when upgrading from rebase 2.7.1 to 3.0.2.

[code]

Specifically, the asString option used to make sure I got back a string or undefined. Now I'm getting back an empty object.

[2017-06-29 03:05] qwales1 commented on #221
@motlin in 3.x `asString` was removed and its now `defaultValue` which will give you back whatever you set it to in the case of no data.  `defaultValue: '' ` would be equivalent to `asString`

[2017-06-29 10:59] motlin commented on #221
Thank you for the help! I saw `defaultValue` but didn't realize they were related.

[2017-06-29 10:59] #221 closed

[2017-06-29 18:38] itwasmattgregg commented on #219
Thank you. This was very helpful. I think I'm just doing things a little differently than the examples. Instead of manipulating the array on the client side and trusting syncState to update the server I'm using remove and push methods to update the server and relying on syncState to update my client. Is this the right way to do things?

For the other question I figured it out with my above method.

[2017-06-29 19:22] qwales1 commented on #219
@itwasmattgregg  Yeah I think that is a good way to do that. I end up not using `syncState` when dealing with lists of data in most cases.

Typically the way I do it, this is just my preference, is to separate out the reads vs. writes when dealing with lists. You have the `push` and `remove` for writes and then I would suggest `bindToState` over `syncState` to listen for changes because you don't

[2017-07-08 11:26] creotip opened #222 "Uncaught Error: Objects are not valid as a React child (found: object with keys"
Followed many tutorials and examples, but im getting this error:
Uncaught Error: Objects are not valid as a React child (found: object with keys {author, title, url, key}). If you meant to render a collection of children, use an array instead or wrap the object using createFragment(object) from the React add-ons. Check the render method of `Index`.

[2017-07-12 00:11] qwales1 commented on #222
@creotip Did you figure this one out? That is an error from React. If not, can you post the a link to or the `Index` component here?

[2017-07-12 00:11] #219 closed

[2017-07-12 00:12] qwales1 commented on #213
closing for now if this is still an issue feel free to re-open

[2017-07-12 00:12] #213 closed

[2017-07-12 00:17] qwales1 commented on #208
@PAK90 closing this as I think it answers the question but if not feel free to reopen

[2017-07-12 00:17] #208 closed

[2017-07-12 00:21] #193 closed

[2017-07-12 00:28] qwales1 commented on #209
@PAK90 to avoid the re-initializing issue entirely take a look at the example [here](https://github.com/tylermcginnis/re-base/blob/master/examples/chatapp/src/rebase.js). This will always only export one instance of re-base that you can either pass down through props or just require directly in the components as needed. Going to close this but feel free to reopen if its still an issue for you.

[2017-07-12 00:28] #209 closed

[2017-07-20 18:25] michaellee8 opened #225 "How to do auth?"
I cannot really see an api for auth here, does `re-base` support `Firebase.auth` or `FirebaseUI`?

[2017-07-21 04:38] sercaninaler commented on #225
+1

[2017-07-21 08:34] petertait commented on #225
Re-base supports the standard Firebase.auth (https://firebase.google.com/docs/auth/). To initialise the app you call on Firebase, so in theory you can utilise anything within the standard Firebase docs (correct me if I'm wrong!).

[2017-07-21 17:43] qwales1 commented on #225
As @petertait and @sercaninaler have said, you would pull in `firebase.auth` from the firebase SDK and use that directly. The same is true for any other firebase services you want to use. re-base is only concerned with the database service. This is how we are currently doing it in our app as an example:

[code]

[2017-07-22 00:51] michaellee8 commented on #225
Nice, that's is clear and is precisely what I need. Would you like to put it into README to avoid confusion?

[2017-08-05 06:42] koktingfeng opened #226 "Does anyone personally know a person by the name of Emmanuel Henri from Granby, Quebec?"
I NEED YOUR HELP

Does anyone personally know a person by the name of Emmanuel Henri from Granby, Quebec (https://www.facebook.com/mannyhenri https://twitter.com/mannyhenri and https://www.linkedin.com/learning/instructors/emmanuel-henri)?

I have previously engaged Emmanuel Henri to complete a project which he has collected up to $10k of deposit, but has failed to deliver, and he has in fact disa

[2017-08-16 15:29] vivekmago opened #227 "syncState issue"
I am trying to update a nested object structure in FB using rebase and seems to have hit an issue with syncState such that it works for most cases except when a nested structure is involved. Is that a known issue?

What works
  -company
     - -Ksdfsdfjjhkjhsdf0X
         - name: "Test Company"  <<-- Works
         - createdAt: 1502323213122  <<--Works
         - markets <<-- Adds works at this le

[2017-09-04 21:02] unusualsuspect commented on #225
Sorry if piggy backing on this issue isn't the right thing to do - I can easily create a new issue, however, I continue to get a `O {code: "auth/invalid-email", message: "The email address is badly formatted."}` The email in Firebase is valid and correctly formatted. I'm not sure where this error is coming from.

[2017-09-04 22:48] qwales1 commented on #225
@unusualsuspect  The error is definitely from the `firebase/auth` service and not re-base. You would get it if a user tried to login in using `signInWithEmailAndPassword` and the email they entered was a invalid email format. See here [https://firebase.google.com/docs/reference/js/firebase.auth.Auth#signInWithEmailAndPassword](https://firebase.google.com/docs/reference/js/firebase.auth.Auth#signIn

[2017-09-04 22:49] #222 closed

[2017-09-21 08:16] sakettawde opened #228 "StartAt EndAt and EqualTo type queries [question]"
How can we use startAt, endAt or equalTo type queries with the database. The query object does not accept these properties. The API also isn't specified anywhere. Are they not present in the new version? I am using it in conjunction with fetch.

[2017-09-27 14:28] vmkfx opened #229 "React16 issues"
Because of createClass being depreciated I changed  var Message in (Message.js) to class Message extends React.Component but keeps saying Message is undefined.
(Chatapp example)

[2017-09-28 06:43] T-dex opened #230 "React16 Remove binding issues"
->node_modules/re-base/dist/bundle.js:490
->node_modules/re-base/dist/bundle.js:155
->src/App.js:33

Throwing errors regarding connection with firebase using re base

[2017-10-01 19:45] bestori opened #231 "Incompatible with latest Firebase release"
https://github.com/tylermcginnis/re-base/blob/master/docs/MIGRATION.md

[2017-10-01 21:40] qwales1 commented on #231
Which part is not compatible?

[2017-10-01 21:42] qwales1 commented on #230
What are the errors? All tests are passing with React 16

[2017-10-01 21:46] qwales1 commented on #228
The query object should accept those properties. And it is documented [here](https://github.com/tylermcginnis/re-base#queries). You should be able to use any of the Firebase Query options.

[2017-10-01 21:46] #225 closed

[2017-10-02 22:25] T-dex commented on #230
It was basing on build but failing on render on the page.

[2017-10-02 22:40] T-dex commented on #230
I missed the documentation of createClass being depricated in the new react. Good to close it

[2017-10-02 22:41] T-dex commented on #230
With createClass being depricated, I think this is where my issues are coming from.

[2017-10-03 20:16] sakettawde commented on #228
Apologies, I was using it wrong. Thanks for the help.

[2017-10-03 20:16] #228 closed

[2017-10-05 02:18] scottfr opened #233 "Firestore Support"
Please consider adding support for the newly released Cloud Firestore:

https://firebase.google.com/docs/firestore/

[2017-10-06 00:03] qwales1 commented on #233
@scottfr Definitely considering it. I am a big fan. I migrated over my companies app to it during the alpha and while I was doing that I was thinking how this library, while keeping a similar API, could help make it easier to use with React components.

This is kind of me thinking out loud about the best way to go about this. The only real issue I see is exposing a nice way to use the compound que

[2017-10-06 02:39] scottfr commented on #233
I don't use queries in re-base so don't have the best insights, but could you replace the queries object with an optional function that takes a Firestore reference and applies filtering logic.

E.g. adapted from the documentation:

[code]

[2017-10-08 21:44] qwales1 commented on #229
I just updated the examples for React 16

[2017-10-08 21:44] #229 closed

[2017-10-13 06:06] danedavid commented on #175
how did u solve it ?

[2017-10-21 20:23] idkjs commented on #231
Dont know if this helps @tylermcginnis.
If you run this https://github.com/areiterer/hackernews-client, update the deps, firebase brakes.
Ended up here wondering if there was some noted breaking change.
[code]

[2017-10-24 06:00] Alecsis opened #235 "Can't create new user : "email" must be a valid string"
Hello,
As the title explains, I get this error when I try to create some new user using the command :
```base.createUser("myCorrectAdress@somewhere.com", "myPassword");```
and returns :
[code]
What did I do wrong ?

[2017-10-24 06:14] qwales1 commented on #235
@Alecsis I am assuming you are using the 1.x branch of re-base. `createUser` takes an object.
See the [docs](https://github.com/tylermcginnis/re-base/tree/1.x#user-management)
[code]
Just FYI that version of the Firebase SDK looks like it was deprecated last year so might want to upgrade to the latest version which uses the current SDK.

[2017-10-28 13:39] Ridermansb commented on #120
This is not working.

![screen shot 2017-10-28 at 11 37 48](https://user-images.githubusercontent.com/725337/32134858-9b14e5d2-bbd4-11e7-9b47-37bfa3b7cfb8.png)

[2017-11-03 11:29] TheFastCat opened #236 "Best Practices for re-base + auth flow?"
I'm using Auth0 to authenticate instead of Firebase auth. In lieu of this I am struggling to understand how to integrate auth flow into re-base so that I can configure Firebase rules around Database CRUD specific to the signed-in user. For example I don't want to allow a logged in user to update firebase database data keyed to a different user. setting firebase database rules necessitate a receive

[2017-11-03 18:59] TheFastCat commented on #236
Ah I found the documentation in the deprecated migration guide [here](https://github.com/tylermcginnis/re-base/blob/master/docs/MIGRATION.md)

[2017-11-03 18:59] #236 closed

[2017-11-04 18:07] Ridermansb opened #237 "How can I retrive the reference?"
I my Component I have..

[code]

and render as ..

[code]

In my `TalkComments` how can I retrive the database reference?
I'm trying to add new replied comment into parent node.. something like this ..

[code]

[2017-11-04 20:37] qwales1 commented on #237
@Ridermansb In answer to your question, `syncState` does not return the firebase database reference, it returns an object you can use to manually clean up the listeners and references. The actual database reference though is not exposed. I can make some suggestions on how to approach what you are trying to do if you want.

[2017-11-05 01:43] Ridermansb commented on #237
@qwales1 thanks.

I'm creating chat platform and I have nested reply .. something like this..

![screen shot 2017-11-04 at 23 38 23](https://user-images.githubusercontent.com/725337/32411090-90f9d414-c1b9-11e7-90f7-9c37d4028372.png)

Will be easier if I have access to the reference because when the user adds a new replied comment, I can just push a new data to the firebase.

[code]

Without the `r

[2017-11-05 03:08] qwales1 commented on #237
@Ridermansb Awesome thanks for the visual. I think I understand better now. So in this case you probably want to flatten your data out. You'll eventually reach the limit of nesting if there are a lot of comments on comments. And worse when you load that top level, it will download the entire tree of data underneath. A user would have to wait for the whole thing to download before that top `base.sy

[2017-11-11 03:04] #233 closed

[2017-11-13 05:31] #235 closed

[2017-11-13 05:32] #230 closed

[2017-11-25 16:15] borisyordanov commented on #184
@qwales1 I have the same problem but i need to use syncState, i can't replace it with listenTo, however, i do need to manipulate the data every time i received it. Should i just implement syncState and listenTo. Is there a better way?

[2017-11-25 18:46] qwales1 commented on #184
@borisyordanov Can you give me an example of what you are trying to do? `syncState` and `listenTo` could work. You would probably need to have some sort of check to make sure you weren't creating an endless saving loop with firebase though.

[2017-11-25 21:15] borisyordanov commented on #184
@qwales1 I want to add a key to certain objects. For example:
[code]

[2017-11-28 03:10] ptran0089 commented on #231
I'm not sure if anyone is having the same problem, but my app doesn't re-render when I update state. However, data binding is still active and I can change the database by changing state and vice versa.

[2017-12-01 23:18] qwales1 commented on #184
@borisyordanov sorry for the delayed response. did you mean `syncState` instead of `bindToState`? If its `bindToState` you can just get rid of it.

The `listenTo` looks great. That is exactly what its for. To do something with the data before you call `setState` on the component.

[2017-12-03 08:05] borisyordanov commented on #184
@qwales1 I had originally thought of using sync state, because i didn't want to do posts to the db all the time, but we decided to implement an autosave every few seconds so we'll just stick to listenTo for getting the data. Thanks1

[2017-12-05 11:53] LawrenceHunt opened #244 "Question: syncState with multiple db properties"
Hey, I'm doing a little sport-themed app side project, and I'm liking the concept of synchronising all my app's state with firebase in the root component. However, it isn't entirely clear how to use syncState with multiple properties. Is there a better way to approach this than nested then() functions? For example, is there a way to return the promise such that I can use `Promise.all()` ?

This is

[2017-12-06 18:03] qwales1 commented on #244
@LawrenceHunt They could all be on the same level and you could do `this.setState({fixturesLoading: false})` , for example, to know when that specific listener was set. That way you don't have to wait before setting up the other listeners. `syncState` is kind of a black box, its tough to coordinate between multiple listeners so I don't think you are missing anything. then is just a callback so you

[2017-12-07 14:13] LawrenceHunt commented on #244
@qwales1 Hi Chris, thanks so much for the response. To clarify, when you say 'they could all be on the same level', do you mean nesting them all inside one root state property?

[2017-12-07 20:08] qwales1 commented on #244
@LawrenceHunt oh sorry no I meant not nesting the `syncState` calls inside each other.  keeping them on the same "level" like
[code]
I can go into more detail on my experience with the one root component approach, I have been thinking about doing a post or something. I also like the idea of it. It was the first thing I reached for and was like this looks like what I want. Data flows into the app f

[2017-12-07 23:18] LawrenceHunt commented on #244
Ah ok, thanks for the clarification - got it now! I will definitely try it as you suggest, the loading counters sound like a good idea. I first encountered this library through Wes Bos' React For Beginners tutorial, where the root App.js component is the store for everything. However it was such a simple app that only one state property needed to be synced.

A post would be very helpful! Also migh

[2017-12-07 23:18] #244 closed

[2018-01-16 23:46] peterlau commented on #93
Just like to get my two cents in as another newcomer to the world of non-trivial state/data management in React.

I struggled for weeks integrating firebase into a react native app, trying to wrap my head around slotting redux-react-firebase into a pre-existing cascade of redux middleware (redux-persist, redux-reset, etc) while maintain control of what data is getting persisted and rehydrated wher

[2018-01-19 14:35] neil-mills opened #247 "databaseURL error"
When i run this code i get

database.js:52 Uncaught Error: FIREBASE FATAL ERROR: Can't determine Firebase Database URL.  Be sure to include databaseURL option when calling firebase.intializeApp().

even though databaseURL is included in the config

[2018-01-20 02:54] qwales1 commented on #247
@neil-mills that error message is from the firebase SDK and only happens if the key `databaseURL` doesn't exist in the config option you pass. can you post your call to `firebase.initializeApp()` ?

[2018-01-20 02:55] #237 closed

[2018-01-20 03:09] qwales1 commented on #231
I opened an issue with the firebase-js-sdk repo to get clarification on using the submodules from the main package. firebase/firebase-js-sdk#253

@ptran0089 that seems like it could be a seperate issue. I can't reproduce it though. if its still a problem definitely open a new issue with the component code and I can take a look.

[2018-02-08 20:37] Vassi commented on #227
I second this. When I delete a property from an object in state it doesn't get synced up.

I.E.
[code]

adding the M12 object syncs, but deleting either m11 or M12 does not sync.

[2018-02-09 05:07] qwales1 commented on #227
@Vassi I tried to reproduce this and it seems to be working for me. Which options are you using in `syncState` and how are you deleting the property?

[2018-02-12 13:47] Vassi commented on #227
Hey @qwales1, thanks for looking. I just got back into the code today, here's how I'm setting up syncState (below). I was thinking about it a little over the weekend and I wonder if it's because I have multiple syncState operations going at once, that first one (allocations) works just fine.

As for deleting the property, I use the delete keyword. The state looks fine in react tools but when I ref

[2018-02-12 17:54] Vassi commented on #227
Here is a repro, I admit it's entirely possible I'm mishandling the delete as I'm fairly new to react, but you can see here if you click "add" after foods it adds another item. If you refresh you'll still see the new item. If you delete one then it appears to go but if you refresh it returns.

https://codesandbox.io/s/wq8ovzkpn8

[2018-02-12 20:46] qwales1 commented on #227
@Vassi Awesome thanks! I will take a look. Setting the property to `null` instead of `delete` I think should work how you have it.

[2018-02-19 00:31] qwales1 commented on #227
@Vassi thanks for the repro. super helpful. It's definitely a bug. One quick fix is instead of `delete` set it to `null` and then check if the food is `null` before trying to render it.
[code]
[code]
It will change the component state first and then sync up with firebase so the null check is necessary.

[2018-02-19 17:23] Vassi commented on #227
@qwales1 I was hoping that if possible, but I'll try to work this in! Thanks for looking into it. Are you saying this is largely  firebase issue then? (I had a similar issue using integer keys so firebase kept turning my objects into arrays, lol) Is it possible to workaround eventually in this library? I'd be willing to try and throw down after I'm past the time sensitive part of my project here.

[2018-02-19 19:30] qwales1 commented on #227
@Vassi  the issue is definitely with syncState and the way syncState works with nested state. It is related to how the firebase SDK works, but the biggest problem is that using the `delete` keyword will not work with syncState and nested data and I think that is not very clear. The property you want to delete needs to be set to null instead. The short explanation for that is that if the property n

[2018-02-26 15:02] ericwallen opened #248 "syncState with nested objects giving me a run for my money."
My issue is when I try to syncState with a nested object I get these errors:
`Objects are not valid as a React child (found: object with keys {name, url, key}). If you meant to render a collection of children, use an array instead.`

When I do this with a object with one level it works fine
`componentDidMount(){
    databaseBase.syncState('videos', {
      context: this,
      state: 'items',

[2018-03-01 07:51] qwales1 commented on #248
@ericwallen can you post your render method? If you are using `asArray: true` you'll get back an array of the first level of objects with data nested in those objects. If you use `asArray:false` its just one object so you would need to "unpack" it yourself. Here are some examples of how the render method would need to be different depending on which you are using. I am guessing you probably want `

[2018-03-01 19:04] ericwallen commented on #248
Chris, you are the man. I seriously can not thank you enough. The second example you provided worked like a charm. Your package makes CRUD and managing State a complete breeze. This is literally the best stack ever! You are so awesome!

[2018-03-01 19:04] #248 closed

[2018-03-01 19:24] qwales1 commented on #248
@ericwallen thanks! glad it worked. hoping you caught my typo in the second example. I had asArray: true by accident even though it was supposed to be the example for asArray: false

[2018-03-01 19:30] ericwallen commented on #248
Ahh..ok Thanks for telling me! It synced with my state so I assumed my .map was the reason I couldn't iterate through.

[2018-03-04 01:35] christianlacerda opened #249 "Firestore Typescript Initialization"
Hi guys, I have a Typescript which a initialize like this:

[code]

Then, use it in my react component like this:

[code]

But I am getting the following error:
[code]
Which is referencing [validators.js:124](https://github.com/tylermcginnis/re-base/blob/master/src/lib/validators.js#L124):
[code]

Any idea of what might be happening here?

Thank you!

[2018-03-04 04:29] qwales1 commented on #249
@christianlacerda That is strange. Does this happening when you are compiling or at runtime?

[2018-03-04 12:55] christianlacerda commented on #249
Hey @qwales1, it is happening during runtime.

[2018-03-04 18:26] qwales1 commented on #249
@christianlacerda what version of the firebase SDK is installed? I just ran the tests with the latest firebase and there are some issues with Firestore. It does change quite a bit because Firestore is in beta but that specific one didn't happen. Maybe we are seeing different errors because of differences in build process but something is definitely off in re-base and firebase 4.10.1 with regards t

[2018-03-05 14:41] christianlacerda commented on #249
@qwales1 I was using firebase SDK `4.9.1` then I downgraded to `4.5.0 ` and the problem persisted. After upgrading it to the latest `4.10.1` it worked fine!

So, as you said, it seems they are changing Firestore a little and side effects may still arise.

Thanks for the help though!

[2018-03-08 15:19] henkiejan opened #250 "removeBinding async?"
Hello,

I was wondering if removeBinding(ref) is perhaps async, or am I missing something else?

In this code onFailure is called after calling logout():

listenToAuth = () => {
    this.listenerAuth = auth.onAuthStateChanged((user) => {
      if (user) {
        .......
        if (this.listenerUser) {
           base.removeBinding(this.listenerUser);
        }
        this.listenerUser = base.bi

[2018-03-08 17:06] ericwallen commented on #248
So, this might be something you already wrote in your docs but wanted to leave a little update in case someone reads this thread later. I also needed to set the state of "items" to an empty array. If you don't do this and you try to pass that state to a different component it will show undefined if you log it to the console. It's tricky (at least to me) because my syntax was correct and "items" wa

[2018-03-08 23:59] qwales1 commented on #250
@henkiejan removeBinding should be synchronous. Will see if I can reproduce because that looks right to me. Thanks for reporting.

[2018-03-11 21:36] alpeshrpatel opened #251 "npm start is not happening"
Please let me know how to start application.

npm start is not working.

npm@5.6.0 /usr/local/lib/node_modules/npm
alpeshpatel@ALPESHs-MacBook-Pro.local:~/workspace/javascript/react/re-base$npm start
npm ERR! missing script: start

npm ERR! A complete log of this run can be found in:
npm ERR!     /Users/alpeshpatel/.npm/_logs/2018-03-11T21_35_21_190Z-debug.log

[2018-03-19 14:31] joshuaalpuerto commented on #251
Hi @alpeshrpatel, what are you trying to do here exactly? It seems it doesn't have `npm start` under package.json

Are you trying to contribute?
https://github.com/tylermcginnis/re-base#contributing

[2018-03-19 15:59] alpeshrpatel commented on #251
Nope .Just want to run app locally and use it for my app. Can you please pass me package.json with npm start ?

[2018-03-20 02:27] joshuaalpuerto commented on #251
You might want to go to the `/examples` folder to run one of the examples provided by this repo.

[2018-03-23 21:29] taykcrane opened #252 "Using Queries w/ syncState wipes out everything not queried"
Hey Tyler,

Ran into an issue with re-base I can't seem to overcome. I have an array in state called "concerns", and when I sync it with firebase using the below code, and then make any Write operation, it wipes out everything not synced, i.e. anything that wasn't in my query.

`componentWillMount = () => {
    base.syncState("concerns", {
      context: this,
      state: "concerns",
      asArra

[2018-03-23 23:39] qwales1 commented on #252
@taykcrane Thanks for reporting this. I think that might be a bug in `syncState` because I believe in previous versions of the re-base that did work. I am not 100% sure but will check the tests to make sure that was covered at some point and figure out what happened. Sorry about that. Until I can sort that out,  I would recommend using `bindToState` or `listenTo` for reading and then have separate

[2018-03-23 23:43] taykcrane commented on #252
@qwales1 damn, I was hoping I missed something simple.  I love the simplicity of syncState, so instead of separate methods for reading/writing, I may hold out and see if you indeed find a bug in syncState. Appreciate you looking into this so quickly. LMK if you need any more code from me.

[2018-03-23 23:57] qwales1 commented on #251
@alpeshrpatel as @joshuaalpuerto said the examples folder will be helpful to get started with this library.
clone this repository and then `cd examples/firebase/chat-app && npm install && npm start` for example to start playing with it. Then when you want to pull it into your app `npm install re-base --save` from your app and take a look at how there example intializes re-base [here](https://githu

[2018-03-23 23:57] #251 closed

[2018-04-01 08:29] coralienyr opened #253 "Component Will Mount, syncState and redux"
Hi,

I create an app with react and redux and now, I want to sync with firebase.
I have my firebase's config in src/base.js

I import base.js in src/components/App.js and I have this code :

`state={list:[]};
       componentWillMount(){
	   	this.ref = base.syncState('list', {
	  		context: this,
           state: 'list'
   	})
	 }
`

So, when I add an item in list it's okay, I see it but he does

[2018-04-06 20:57] maxisix commented on #252
Did you find a way ? I have a similar problem, i have this architecture
- tweet
  - 0
     - user
        - screen_name: 'maxisix'

this.ref = base.syncState(`tweet`, {
      context: this,
      state: "tweet",
      queries: {
        orderByChild: "user",
        orderByChild: "screen_name",
        equalTo: "maxisix"
      }
    });

[2018-04-19 02:47] MincePie commented on #247
I'm having the same problem as Neil.

My firebase config has:

[code]

Did you find a solution?

[2018-04-19 03:14] qwales1 commented on #247
@MincePie how are you setting the process.env variables? Check what the config variable looks like if you console.log it before passing to firebase.initializeApp

[2018-04-19 03:26] MincePie commented on #247
Hi Chris,

I have an env.development file with the variables in it. For example:
FIREBASE_DATABASE_URL=https://<name of database>.firebaseio.com

Is there something more than that I need to do to initialise the db?

Thanks
Mel

On Thu, Apr 19, 2018 at 1:14 PM, Chris Wales <notifications@github.com>
wrote:

[2018-04-19 03:26] qwales1 commented on #253
@coralienyr apologies for the delayed response. Where is `state={list:[]}` in your component?

are you using the transform-class-properties plugin from babel? If not that should be in the constructor so something like:
[code]

[2018-04-19 03:38] qwales1 commented on #247
@MincePie  No that should do it I think if the config object is correct. If you log that config variable before passing to firebase.initalizeApp you can see the databaseURL property and it is set with the correct value?

[2018-04-28 10:04] Weezyana07 commented on #247
having the same issue- when console logging the config, getting all my value undefined

[2018-05-23 22:26] iPekka opened #255 "Firestore (5.0.3) | Cannot read property 'CollectionReference' of undefined"
Hi, I'm trying to use re-base for the first time but I'm facing an error when trying to use whatever method from base. I'm using Firestore...

It says
`Cannot read property 'CollectionReference' of undefined`

@_validateCollectionPath (in bundle.js)
`var CollectionReference = _app2.default.firestore.CollectionReference;`

I'm using
- firebase 5.0.3
- re-base 3.2.3

My base.js file
`import firebase

[2018-05-24 05:53] qwales1 commented on #255
@iPekka I am guessing that its a change in firebase v5 that is causing the issue. try downgrading to  firebase 4.13.1 .

[2018-05-24 21:29] Rekenna commented on #255
@iPekka I just confirmed that this is the issue. I was running into this as well today and downgrading to 4.13.1 works for now.

[2018-05-25 08:31] iPekka commented on #255
Hi. After downgrading that works for me as well. Thank you guys.

[2018-05-25 08:32] #255 closed

[2018-06-14 20:27] JulianUrdov opened #256 "When trying to install re-base I get an error:"
C:\Users\iuli\Desktop\app1506\chat-demo>npm install re-base

node-pre-gyp ERR! Tried to download(403): https://storage.googleapis.com/grpc-precompiled-binaries/node/grpc/v1.10.1/node-v64-win32-x64-unknown.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for grpc@1.10.1 and node@10.4.0 (node-v64 ABI, unknown) (falling back to source compile with node-gyp)
node-pre-gyp ERR! Pre-built binaries n

[2018-06-16 17:45] T-dex commented on #256
I am getting the exact same error.

[2018-06-16 17:58] qwales1 commented on #256
That is coming from the firebase sdk. looks like there is an issue there that looks like the same issue.
https://github.com/firebase/firebase-js-sdk/issues/883

[2018-06-22 10:37] r33fCatz commented on #256
Same error.
I solved my problem with an old version install

-> this way :

-uninstall node_modules
-add : "re-base": "2.3.0" in package.json

[code]
- run : npm install

HF

[2018-06-23 18:37] miguel-orange commented on #255
When is re-base going to release a version to support firebase 5+?

[2018-07-22 14:39] AryanJ-NYC commented on #256
Data point: am getting same error.

[2018-07-23 00:04] pablohpsilva commented on #255
Guys, when will you support the newest version?

P.S.: I'm loving re-base

[2018-07-23 06:08] qwales1 commented on #256
This should be fixed on re-base 4.x. Unfortunately it cannot be back ported to 3.x as the fix in the firebase sdk is only available on their 5.x branch. There are no public api changes to re-base however if you are using firebase 4.x definitely check out the breaking changes in their [changelog](https://firebase.google.com/support/release-notes/js#5.0.0) before updating to re-base 4.x

[2018-07-23 06:08] #256 closed

[2018-07-23 06:09] qwales1 commented on #253
Going to close this. If still an issue feel free to reopen

[2018-07-23 06:09] #253 closed

[2018-07-23 06:10] qwales1 commented on #231
Going to close this. If its still an issue please feel free to reopen

[2018-07-23 06:10] #231 closed

[2018-07-23 06:11] #249 closed

[2018-07-23 06:19] qwales1 commented on #247
I don't think this is related to something happening in re-base so going to close but from testing this error
`Uncaught Error: FIREBASE FATAL ERROR: Can't determine Firebase Database URL.` happens if the _key_ `databaseURL` doesn't exist in the config object. If it exists and its undefined or null it would be a different error message.

[2018-07-23 06:19] #247 closed

[2018-07-27 08:53] yamini-krishnamurthy opened #258 "base.syncState doesn't seem to be working"
I'm using re-base in my chat application. I am syncing the currently logged in user with firebase. Google authentication seems to be working fine, but with email/password authentication it isn't. Since I want users to be able to set a displayName while signing up, I am storing the displayName they set in state. I set the user's state again if the user did enter a displayName while signing up. I th

[2018-07-27 09:59] qwales1 commented on #258
@yamini-krishnamurthy do you mean the user object you get from [Firebase Auth](https://firebase.google.com/docs/reference/js/firebase.User)? Or are you storing the displayName in your actual firebase database somewhere? If its the from auth, (`firebase.auth().onAuthStateChanged` or `firebase.auth().currentUser`) that has its own method for setting profile info [here](https://firebase.google.com/do

[2018-07-27 11:56] yamini-krishnamurthy commented on #258
[code]

This is the important part of the component, I've left out the rendering.

Again, this was working 4 days ago. Now every time a user creates an email/password account, the see their displayName on the sidebar, but the moment they refresh, they see their email instead (i programmed it so that the email is displayed if the displayName hasn't been set).

As you can see I'm storing all users i

[2018-07-28 01:21] qwales1 commented on #258
@yamini-krishnamurthy I think I see it but first the `syncState` in `syncUser` is adding a new listener every time its called. You should only need to call `syncState` once in a components lifecycle.  EDIT: Made a mistake here in my first example, need the users uid so need to set it up inside onAuthStateChanged, but make sure this listener is only added once.

[code]
then `handleAuth` is most lik

[2018-07-28 05:40] yamini-krishnamurthy commented on #258
It works, but I don't exactly understand why a new `uid` is being generated everytime I refresh the page. If a new `uid` wasn't being generated, then wouldn't calling syncState again just update the `user` object already stored in firebase? Or am I understanding things wrong?

[2018-07-29 08:40] yamini-krishnamurthy commented on #258
@qwales1 Okay, I seriously have no idea what's happening.

I have been trying to store an object of all the users in state of `App`, rather than only in firebase. Your solution had been working all this time, but now when I tried storing `users` in state and it didn't work, and I reverted back to the code that was working, it doesn't work anymore. What is the meaning of this???

In fact, the exact

[2018-07-29 16:11] qwales1 commented on #258
@yamini-krishnamurthy I am really sorry for the confusion but I don't understand what is happening either. Its hard for me to follow without seeing what changes you are making and being able to run the code.

[2018-07-29 16:20] yamini-krishnamurthy commented on #258
Hey, I just wanted to let you know that I fixed my issues. I’d just forgotten to set displayName in App’s state. Doing that fixed my problems somehow. handleUnauth doesn’t seem to be causing problems for me, I have logged out and logged back in several times with no issue. Thank you so much for all your help!

________________________________
From: Chris Wales <notifications@github.com>
Sent: Sund

[2018-07-29 16:25] qwales1 commented on #258
@yamini-krishnamurthy awesome! re: handleUnauth yeah sorry that was wrong and I deleted from my comment. I tried to reproduce the component and I put some code in the wrong spot. it was my mistake. it looks totally good the way you have it.

[2018-07-29 16:26] #258 closed, assigned to nobody

[2018-08-08 23:46] thisissami commented on #233
@qwales1 - I'm about to use Firestore for the first time for a project. I've used the original Firebase Realtime Database long ago, and Re-base made it suuuper enjoyable to work with. In your opinion (as somebody who has used Firestore without Re-base, and as the creator of Re-base) - do you think it makes more sense to use Re-base or just directly use the Firestore API? I'm getting the sense that

[2018-08-09 23:43] thisissami commented on #233
A quick test for getting variables shows me that `re-base` does things in a manner much more to my liking. :)

[code]

Looks like I'll be using `re-base` for everything for my firestore db!! Thanks for creating this library. <3

[2018-08-14 03:05] keithslater opened #259 "Not a function"
Getting not a function errors with a lot of the functions.
These work- bindCollection, get.

These I get errors -
base.remove -
TypeError: __WEBPACK_IMPORTED_MODULE_3__rebase__.a.remove is not a function

base.removeDoc -
TypeError: ref.delete is not a function

base.syncState -
TypeError: __WEBPACK_IMPORTED_MODULE_3__rebase__.a.syncState is not a function

using rebase 4.0.0
firebase 5.3.1
firest

[2018-08-14 21:19] nicksantan opened #260 "Possible to push child data with custom key?"
Hi there,

Please forgive the question if it's ignorant. When I use .push() I get a child with a firebase push id as the key. I would like to define the key myself (e.g. a project name). Is this possible? Or is the best way to accomplish this by taking a copy of the endpoint one level up with .fetch(), modifying it locally, and then using .update() or .post() to update the data at that endpoint?

[2018-08-16 13:44] qwales1 commented on #260
@ChubbRck you could add the key you want in the endpoint ex. `/users/<your-custom-key>` and then `post` or `update` depending on your needs.

[2018-08-16 13:52] qwales1 commented on #259
@keithslater  Ah yeah apologies I don't think there is anything in the docs that explains this. If you want to use both the RTDB and Firestore side by side you would need to create a re-base instance for each separately. You can see an example in the setup for this [test case](https://github.com/tylermcginnis/re-base/blob/master/tests/specs/databases.spec.js#L39). It looks at which database object

[2018-08-16 14:04] qwales1 commented on #233
@thisissami  sorry for the delay was in the middle of a move. yeah i think there is a definitely a lot that firestore solves with the document/collection structure built in. with the rtdb there was a lot re-base added that made it easier to handle data as collections i.e. the `asArray` option. that is easier with the firestore api but as you see you still need to do a little unpacking manually whe

[2018-08-16 14:11] keithslater commented on #259
Yeah I'm not using RTDB, I am using firebase auth though.

I'm using the create-react-app project which I guess has webpack included. I haven't customized it all.

[2018-08-16 14:27] qwales1 commented on #259
ok cool will check it out. thanks for reporting

[2018-08-16 14:55] qwales1 commented on #259
@keithslater I just checked with latest create-react-app and it _seems_ to be working for me. how are you importing firebase and firestore?

[2018-08-16 15:01] keithslater commented on #259
[code]

[2018-08-16 15:21] qwales1 commented on #259
that is definitely correct. is there a repo i can clone maybe?

[2018-08-16 16:49] keithslater commented on #259
Ok I figured out my problem. I didn't realize that half the docs was for rtdb and half was firestore. I don't have rtdb setup so maybe that's why I was running into issues there. I changed it to do syncDoc and it looks good now. Thanks!

[2018-08-16 16:49] #259 closed, assigned to nobody

[2018-08-16 17:28] thisissami commented on #233
Thanks for getting back to me @qwales1, and no worries on the delay. I've been enjoying using `re-base` thus far. :)

Could you give me an example of what you mean by "client side joins"? Is this something akin to SQL joins, or something different?